@import "vars";

article table {
  * {
    text-align: left;
    border: none;
    background-color: $background-color;
  }
  td:first-of-type, td:last-of-type {
    font-size: .95em;
    color: $code-color;
  }
  th:first-of-type, td:first-of-type {
    padding-right: 1rem;
    text-align: center;
  }
}