@import "vars";

article {
  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    div {
      display: grid;
      row-gap: 1rem;
    }
    a {
      display: inline-block;
      background-color: $dark-grey;
      border-radius: $border-radius;
      padding: 1rem;
      &:hover {
        text-decoration: none;
        h3 {
          color: $space;
        }
      }
    }
    h3 {
      font-weight: 700;
      font-size: 1em;
      margin: 0;
      transition: color 0.5s;
    }
    p {
      font-size: 0.95em;
      color: $footer-color;
      margin: 0.5rem 0;
    }
    time {
      margin: .25rem 0 0 0;
      font-size: 0.85em;
      color: $footer-color;
    }
  }
}

@media screen and (max-width: 700px) {
  article nav {
    display: block;
  }
  div {
    margin-top: 1rem;
  }
}