@import "vars";

article nav {
  font-size: 0.95rem;
  margin: 2rem 0;
  h2 {
    font-size: 1.125rem;
  }
  p {
    margin: 0;
    color: $code-color;
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      display: grid;
      row-gap: 1rem;
      grid-template-columns: 12rem auto;
      margin: 3rem 0;
    }
  }
  time {
    display: grid;
    grid-auto-flow: column;
    grid-row: span 2;
    color: $footer-color;
    &:after {
      justify-self: baseline;
      content: "//";
      color: $light-grey;
    }
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  span:first-of-type a {
    font-size: 1rem;
  }
  span + span a {
    color: $footer-color;
    font-style: italic;
    &:hover {
      background-color: $footer-color;
    }
  }
}
@media screen and (max-width: 700px) {
  article nav {
    ul li {
      grid-template-columns: 1fr;
      row-gap: 0.5rem;
      span {
        grid-row: 1 / 2;
      }
      time {
        grid-row: 2 / 3;
        &:after {
          content: "";
        }
      }
    }
  }
}
