$space: #7f5af0;

$background-color: #141619;

$dark-grey: #1F2225;
$medium-grey: #2A2E32;
$light-grey: #3F4449;

$footer-color: rgba(255, 255, 255, .45);
$code-color: rgba(255, 255, 255, .5);
$text-color: rgba(255, 255, 255, .65);
$header-color: rgba(255, 255, 255, .85);

$primary-font: 'Inter', sans-serif;
$mono-font: "IBM Plex Mono", monospace;

$width: 650px;

$gap: 1rem;
$border-radius: .25rem;

$border: .125rem;