/*!
--------------------------------
Collections CSS
--------------------------------
*/

.card {
  padding-top: 15px;
  width: 180px;
  margin: 0 30px 5px 0;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .card {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 700px) {
  .card:nth-child(2n) {
    margin: 0 0 5px 0;
  }
}

@media only screen and (min-width: 700px) {
  .card:nth-child(3n) {
    margin: 0 0 5px 0;
  }
}

.cardList {
  display: flex;
  flex-flow: row wrap;
}

.imgHolder {
  background-color: $lightGrey;
  padding: 10px;
  border-radius: 4px;
}

.up {
  transform: translateY(-5px);
}

.ball {
  height: 32px;
  width: 32px;
  top: 5px;
  left: 5px;
  display: block;
  margin-bottom: -32px;
  z-index: 1;
  position: relative;
}
