<footer>
  <nav>
    <a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer">branden(@)higby.io</a>
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">twitter</a>
    <a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">github</a>
    
  </nav>

  <nav>
    <a href="/humans.txt">humans.txt</a>
    <a href="/styleguide">styleguide</a>
    <a href="/feed.xml">RSS feed</a>
    <span>{% pageSize %}</span>
  </nav>

  {% include 'higby.svg' %}
</footer>
