$primary-font: "Open Sans", sans-serif;
$primary-font1: 'IBM Plex Mono', monospace;
$mono-font: "Source Code Pro", monospace;

*, *::before, *::after {
  box-sizing: inherit;
  transition: color .5s, background-color .5s;

}
::selection {
  background-color:  var(--space-highlighter);
  color: #000;
}
:root {
  --space: #965ee5;
  --space-highlighter: #cdb4f1;
  --background-color: #fafafa;
  --lightGrey: #eeeeee;
  --mediumGrey: #dedede;
  --darkGrey: #bdbdbd;
  --primary-text: #4b4b4b;
  --header-text: #323232;
  --code-text: #5f5f5f;
  --quote-text: #727272;
  --pgp-text: #b6b6b6;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111010;
    --lightGrey: #212121;
    --mediumGrey: #616161;
    --darkGrey: #424242;
    --primary-text: #b4b4b4;
    --header-text: #CDCDCD;
    --code-text: #a0a0a0;
    --quote-text: #898989;
    --pgp-text: #494949;
  }
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
  color: var(--primary-text);
  font-family: $primary-font;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 1rem auto;
  max-width: 600px; //page width (96px * 5.5(1.5in margins)) * <p> text size (1.125) rounded up
}
h1, h2, h3, h4, h5, h6 {
  color: var(--header-text);
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.7858rem;
}
h3 {
  font-size: 1.4174rem;
}
h4 {}
h5 {}
h6 {}
header {
  text-align: center;
  a {
    color: var(--header-text);
    &:hover {
      color: var(--space);
      text-decoration: none;
    }
  }
}
nav {
  ul, ol {
    border-left: .25rem var(--space) solid;
    list-style: none;
    margin: 0;
    padding: 0 .5rem 0 .5rem;
    ul, ol {
      border-left: .25rem solid var(--mediumGrey);
      display: none;
      margin: 0 10px;
      padding-left: calc(.5rem + 2px);
    }
    a {
      color: var(--header-text);
      &:hover {
        color: var(--space);
        text-decoration: none;
      }
    }
  }
  p {
    display: inline;
  }
  svg {
    vertical-align: text-top;
  }
}
footer {
  font-size: 1.25rem;
  margin: 1rem 0;
  a {
    color: var(--primary-text);
    &:hover {
      color: var(--space);
      text-decoration: none;
    }
  }
  code {
    background-color: inherit;
    padding: 0;
  }
}
p, ol, ul, pre, blockquote, figure, hr, dl {
  margin: 1rem 0;
}
.indent > p {
  text-indent: 2rem;
}
ol, ul {
  margin-left: 1.125rem;
  padding: 0;
  ol, ul {
    margin: 0 1rem;
  }
}
pre, code, kbd {
  font-family: $mono-font;
  font-size: .95rem;
}
pre {
  background-color: var(--lightGrey);
  border-radius: .25rem;
  line-height: 1.5;
  overflow: auto;
  padding: 1rem 1.5em;
  code {
    background-color: inherit;
    font-size: inherit;
    overflow-x: auto;
    padding: 0;
  }
}
blockquote {
  border-left: .25rem solid var(--mediumGrey);
  color: var(--quote-text);
  font-size: 1.125rem;
  font-style: normal;
  padding: 0 0 0 1rem;
}
.note {
  border: none;
  display:list-item;
  font-size: 1rem;
  font-style: italic;
  list-style-position: outside;
  list-style-type: ">";
  margin-left: .5rem;
}
hr {
  border: 0;
  border-bottom: .125rem var(--darkGrey) solid;
}
a {
  color: var(--space);
  text-decoration: none;
  transition: color .5s;
  &:hover {
    text-decoration: underline;
  }
}
mark {
  background-color:  var(--space-highlighter);
  margin: 0 -.125rem;
  padding: 0 .125rem;
}
code {
  background-color: var(--lightGrey);
  border-radius: .25rem;
  color: var(--code-text);
  padding: .2em .4em;
  a {
    color: var(--pgp-text);
    font-size: 1.25rem;
    &:hover {
      color: var(--space);
      text-decoration: none;
    }
  }
}
kbd {
  border: 1px solid var(--mediumGrey);
  border-radius: .25rem;
  box-shadow: inset 0 -1px 0 var(--mediumGrey);
  color: var(--code-text);
  padding: .125rem .25rem;
  vertical-align: middle;
}
img, video, canvas, audio, object {
  background-image: linear-gradient(65deg, var(--space) 25%, var(--lightGrey) 25%, var(--lightGrey) 50%, var(--space) 50%, var(--space) 75%, var(--lightGrey) 75%, var(--lightGrey) 100%);
  background-size: 35.31px 75.72px;
  border-radius: .25rem;
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}
table {
  border-collapse: collapse;
  caption-side: bottom;
  text-align: center;
  width: 100%;
  td {
    padding: .125rem;
    text-align: center;
  }
  th {
    border-bottom: .125rem var(--darkGrey) solid;
    padding: .125rem;
  }
  tr {
    color: var(--header-text);
  }
  tr:nth-child(even) {
    background-color: var(--lightGrey);
  }
}
.index {
  th, td {
    border: none;
    padding: .25rem 0;
    text-align: left;
    vertical-align: text-top;
  }
  td:first-of-type {
    text-align: right;
    white-space: nowrap;
  }
  tr:nth-child(even) {
    background-color: inherit;
  }
  time {
    color: var(--quote-text);
    &:after {
      content: "//";
      margin: 0 .45rem;
    }
  }
}
.footnotes {
  border-top: .125rem var(--darkGrey) solid;
  color: var(--quote-text);
  font-size: 1rem;
}
.footnote {
  &:before {
    content: '{';
  }
  &:after {
    content: '}';
  }
}
@media screen and (max-width: 700px) {
  body {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  nav li {
    margin: .5rem 0;
  }
}

@import "syntax";
@import "specific";
@import "print";
