$background-color: #111010;
$lightGrey: #212121;
$mediumGrey: #616161;
$darkGrey: #424242;

$pgp-text: #646363;
$note-text: #acacac;
$quote-text: #c3c3c3;
$code-text: #c7c7c7;
$primary-text: #dcdbdb;
$header-text: #f3f3f3;
