$background-color: #111010;
$lightGrey: #212121;
$mediumGrey: #616161;
$darkGrey: #424242;

$note-text: #9C9C9C;
$quote-text: #a0a0a0;
$code-text: #b4b4b4;
$primary-text: #CDCDCD;
$header-text: #fff;
