<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="{{ site.description }}"/>
{% if page.setup.noindex %}
<meta name="robots" content="noindex"/>
{% endif %}
<link type="text/plain" rel="author" href="/humans.txt"/>
<link rel="icon" type="image/ico" href="/assets/favicon.ico"/>
<link rel="preconnect" href="https://fonts.gstatic.com"/>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/main.css"/>
{% if page.setup.style %}
<link rel="stylesheet" href="/assets/css/{{page.setup.style}}.css"/>
{% endif %}
<script src="/assets/js/core.js" defer></script>
<script src="/assets/js/main.js" defer></script>
<title>{{ page.title }}</title>
