<meta charset="utf-8">

<title>{% if title %}{{ title }}{% else %}{{ site.name }}{% endif %}</title>
{% if eleventyExcludeFromCollections %}<meta name="robots" content="noindex">{% endif %}
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='generator' content='eleventy'>
<meta name="theme-color" content="#ef476f">

<link rel="canonical" href="https://{{ site.url }}{{ page.url }}">
<link rel="author" href="/humans.txt"/>
<link rel='icon' href="data:image/svg+xml,{% encode %}{% include 'includes/favicon.svg' %}{% endencode %}">

<style>{% renderFile "./src/components/styles/main.scss" %}</style>

