<header>
  <h1>{% currentPage "<a href='/'>branden <i class='higby'>higby</i></a>" %}</h1>
  <nav>
    {% currentPage "<a href='/garden/'>garden</a>" %}<i>//</i>
    {% currentPage "<a href='/projects/'>projects</a>" %}<i>//</i>
    {% currentPage "<a href='/about/'>about</a>" %}
  </nav>
</header>