@import 'vars';

ul.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 -#{$mobile-margins};
  text-align: center;
  @media (max-width: $site-width) {
    grid-template-columns: 1fr;
    margin: 0;
  }
  img {
    width: 100%;
    margin: 0;
  }
}

.sprites {
  background-color: var(--bg-secondary);
  display: grid;
  border-radius: $border-radius;
  picture {
    width: 85%;
    height: auto;
    margin: 1rem 0;
    justify-self: center;
    &:not(:last-of-type) {
      display: block;
      justify-self: start;
      left: 0.25rem;
      margin: 0 0 -2rem 0;
      position: relative;
      top: 0.25rem;
      width: 32px;
      z-index: 1;
      background: none;
    }
  }
}