---
title: 'Movies'
---
<ol role='list'>
  {% for movie in letterboxd %}
    {% if movie.rewatch == false %}
      <li class='movie'>
        <time>{{ movie.watched | formal }}</time>
        <strong>{{ movie.title }} ({{ movie.year }})</strong>
        {% if movie.rating %}<span class='rating'>{{ movie.rating }}</span>{% endif %}
        {% if movie.review %}<span class='review'>{{ movie.review }}</span>{% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ol>