---
layout: base
---
{% if permalink != "/index.html" %}
<header>{% include 'header.njk' %}</header>
{% endif %}
<main>
  <header>
    {% if title %}<h1>{{ title }}</h1>{% endif %}
  </header>
  <article>{{ content | safe }}</article>
</main>
{% if permalink != "/index.html" %}
<footer>{% include 'footer.njk' %}</footer>
{% endif %}

