// Dark

$background-color: #212121;

$primary-text: #b4b4b4;
$header-text: #CDCDCD;
$address-text: #484848;
$code-text:  #a0a0a0;
$quote-text:  #828282;

$lightGrey: #111111;
$mediumGrey: #616161;
$darkGrey: #424242;
