@import "normalize";

$space: #965ee5;

$primary-font: "Open Sans", sans-serif;
$mono-font: "Source Code Pro", monospace;
/*--------------------------------
  Site
--------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  color: $primary-text;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-text;
}

h1 {
  text-align: center;
}

h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid $darkGrey;
}

header {
  h1 {
    a {
      color: $header-text;
      line-height: 90px;

      &:hover {
        color: $space;
        text-decoration: none;
      }
    }

    i {
      color: $header-text;
      font-style: normal;
    }
  }

  a {
    color: $header-text;
    line-height: 3em;

    &:hover {
      color: $space;
      text-decoration: none;
    }
  }

  text-align: center;

  time {
    font-weight: bold;
  }
}

nav ul {
  border-left: 4px $space solid;
  list-style-type: none;
  margin-left: 0;
  padding-left: 20px;

  a {
    color: $primary-text;

    &:hover {
      color: $space;
      text-decoration: none;
    }
  }

  &:nth-of-type(even) {
    border-left: none;
    border-right: 4px $space solid;
    padding-right: 20px;
    text-align: right;
  }

  li {
    list-style-type: none;
    margin-bottom: 5px;

    ul {
      border-left: 4px solid $mediumGrey;
      padding-left: 1em;
      display: none;
    }
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    overflow: hidden;
  }
}

.postTitle:nth-of-type(even) {
  text-align: right;
}

.animating:hover {
  color: $primary-text;
}

footer {
  font-size: 20px;
  margin: 20px 0;

  a {
    color: $primary-text;

    &:hover {
      color: $space;
      text-decoration: none;
    }
  }

  address {
    font-style: normal;
    font-family: "Source Code Pro",monospace;

    a {
      color: $quote-text;

      &:hover {
        color: $space;
        text-decoration: none;
      }
    }
  }
}

p {
  text-indent: 1.5em;
}

ol, ul {
  margin-left: 1.5em;
}

ol ol, ul ul {
  margin-left: 0;
}

pre {
  background-color: $lightGrey;
  border-radius: 4px;
  line-height: 2;
  padding: 15px 1.5em;
  vertical-align: middle;
  overflow-x: auto;
}

p code {
  padding: .2em .4em;
}

code {
  background-color: $lightGrey;
  color: $code-text;
  border-radius: 4px;
  font-family: "Source Code Pro",monospace;
  font-size: 85%;
}

blockquote {
  border-left: 4px solid $mediumGrey;
  color: $quote-text;
  margin: 18px 0;
  padding: 0 0 0 1em;

  p {
    text-indent: 0;
  }
}

hr {
  border: 1px solid $darkGrey;
}

a {
  color: $space;
  text-decoration: none;
  transition: color .5s;

  &:hover {
    text-decoration: underline;
  }
}

time {
  color: $code-text;
}

img {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 5px;
  text-align: center;

  ~ td {
    border-left: 4px $darkGrey
 solid;
  }
}

th {
  ~ th {
    border-left: 4px $darkGrey
 solid;
  }

  border-bottom: 4px $darkGrey
 solid;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: $lightGrey;
}

@media screen and (max-width: 700px) {
  body {
    margin-left: 2em;
    margin-right: 2em;
  }

  p {
    text-indent: 0;
  }
}

.n, .na, .nb, .nc, .no, .nd, .ni, .ne, .nf, .nl, .nn, .nx, .py, .nt, .nv, .vc, .vg, .vi, .bp {
  color: $space;
}

.c, .cm, .cp, .c1, .cs {
  font-style: italic;
}

.k, .kc, .kd, .kn, .kp, .kr, .kt {
  font-weight: bold;
}

.card {
  padding-top: 15px;
  width: 180px;
  margin: 0 30px 5px 0;
  text-align: center;

  img {
    border-radius: 4.75% / 3.5%;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 700px) {
  .card:nth-child(2n) {
    margin: 0 0 5px 0;
  }
}

@media only screen and (min-width: 700px) {
  .card:nth-child(3n) {
    margin: 0 0 5px 0;
  }
}

.cardList {
  display: flex;
  flex-flow: row wrap;
}

.imgHolder {
  background-color: $darkGrey;
  padding: 10px;
  border-radius: 4px;
}

.up {
  transform: translateY(-5px);
}

.ball {
  height: 32px;
  width: 32px;
  top: 5px;
  left: 5px;
  display: block;
  margin-bottom: -32px;
  z-index: 1;
  position: relative;
}

.gist {
  .gist-file {
    border: none !important;
    border-radius: 4px !important;
  }

  .gist-meta {
    background-color: $lightGrey !important;
  }
}
