// Higby

$space: #965ee5;

$background-color: #212121;

$primary-text: #b4b4b4;
$header-text: #CDCDCD;
$address-text: #484848;
$code-text:  #a0a0a0;
$quote-text:  #828282;

$lightGrey: #111111;
$mediumGrey: #616161;
$darkGrey: #424242;

$primary-font: "Open Sans", sans-serif;
$mono-font: "Source Code Pro", monospace;

// DnD

$dnd-background-color: #eee5ce;

$velvet: #58180d;
$gold: #c9ad6a;
$tea: #e0e5c1;
$tealeaf: #43443a;
