/*!
--------------------------------
Syntax Highlighting
--------------------------------
*/

.n, .na, .nb, .nc, .no, .nd, .ni, .ne, .nf, .nl, .nn, .nx, .py, .nt, .nv, .vc, .vg, .vi, .bp {
  color: $space;
}
.c, .cm, .cp, .c1, .cs {
    font-style: italic;
}
.k, .kc, .kd, .kn, .kp, .kr, .kt {
    font-weight: bold;
}
