---
layout: default
---

<div class="head">
  <h1>{{ page.title | escape }}</h1>
  {% unless page.setup.date == "hidden" %}
    <b><time datetime="{{ page.date | date_to_xmlschema }}">{%- assign date_format = "%b %-d, %Y" -%} {{ page.date | date: date_format }}</time></b>
  {% endunless %}
  {% unless page.setup.table == "hidden" %}
    {% include toc.html html=content class="toc" %}
  {% endunless %}
</div>

<div class="post">
  {{ content }}
</div>
<div class="scripts">
  {% if page.setup.style %}
    <link rel="stylesheet" href="/assets/css/{{ page.setup.style }}.css">
  {% endif %}
</div>
