$space: #7f5af0;

$background-color: #141619;

$dark-grey: #1F2225;
$medium-grey: #2A2E32;
$light-grey: #3F4449;

//$textLight: #CED3D8;
$footer-color: #A1A1A1;
$code-color: #BDBDBD;
$text-color: #E1E5E9;
$header-color: #F3F4F6;

/*
$background-color: #f1f1f1;

$dark-grey: #e0ddda;
$medium-grey: #d5d1cd;
$light-grey: #c0bbb6;

//$textLight: #CED3D8;
$footer-color: #5e5e5e;
$code-color: #424242;
$text-color: #1e1a16;
$header-color: #0c0b09;
*/

$primary-font: 'Open Sans', sans-serif;
$mono-font: "IBM Plex Mono", monospace;

$width: 650px;

$gap: 1rem;
$border-radius: .25rem;


$border: .125rem;