svg.higby {
  fill: $tattoo;
}

body {
  margin: 2rem auto;
  max-width: calc(650px + 4rem);
  font-family: "Apfel Grotezk";
  font-size: 18px;
  background-color: $bg-primary;
  color: $text;
  line-height: 1.5;
  letter-spacing: 0.025em;
  @media (max-width: $media-query) {
    margin: 1rem;
  }
}

main {
  max-width: 650px;
  margin: 4rem auto 6rem;
}

h1, h2, h3 {
  font-family: "Apfel Grotezk Fett";
  color: $text-emphasis;
}

#site-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  h1 {
    font-size: 1em;
  }
  nav {
    justify-self: end;
    align-self: center;
  }
}

#site-footer  {
  display: grid;
  font-size: 16px;
  nav {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 2rem;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    white-space: nowrap;
  }
  a {
    color: $text-subtle;
    &:hover {
      color: $space;
      text-decoration: none;
    }
  }
  svg {
    justify-self: center;
  }
}

#page-header {
  hr {
    margin: 2rem 0;
  }
}

hr {
  border: 0;
  border-bottom: 0.125rem solid $light-grey;
}

b, em {
  font-family: "Apfel Grotezk Fett";
}

a {
  color: $space;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.5px;
  }
}

pre, code, kbd {
  font-family: "JetBrains Mono";
  color: $text-emphasis;
  font-size: 0.85em;
  overflow: auto;
  background-color: $bg-secondary;
  border-radius: 0.25rem;
}

pre {
  padding: 0.75rem;
  margin: 2rem -2rem;
  @media (max-width: $media-query) {
    margin: 2rem 0;
  }
}

code:not(pre *) {
  padding: 0.2rem 0.4rem;
}

kbd {
  border: 1px solid $medium-grey;
  box-shadow: inset 0 -1px 0 $medium-grey;
  padding: 0.125rem 0.25rem;
  vertical-align: middle;
}

time {
  margin: 0.5rem 0;
  display: block;
  color: $text-subtle;
}

figure {
  margin: 2rem -2rem;
  &:has(.inline) {
    margin: 0.5rem;
    float: right;
    width: 25%;
    @media (max-width: $media-query) {
      margin: 0 auto;
      float: none;
      width: 50%;
    }
  }
  @media (max-width: $media-query) {
    margin: 2rem 0;
  }
}

img {
  border-radius: .25rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  overflow: scroll;
}
thead {
  border-bottom: 3px solid $medium-grey;
}
tfoot {
  border-top: 3px solid $medium-grey;
}
th, td {
  color: $text-emphasis;
  &:not(:last-of-type) {
    border-right: 3px solid $medium-grey;
  }
}
th {
  font-family: "Apfel Grotezk Fett";
}
tr {
  &:nth-child(even) {
    background-color: $bg-secondary;
  }
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    &:not(:last-of-type) {
      margin-right: 1rem
    }
  }
}

.note {
  background-color: rgba(255, 102, 140, .25);
  margin: 1rem 0;
  padding: .5rem .75rem;
  border-radius: .25rem .25rem 0 .25rem;
  outline: 2px solid rgb(255, 102, 140);
  color: $text-emphasis;
}