@import 'vars';
@import 'fonts';
@import 'reset';
@import 'syntax';

svg.higby {
  fill: $tattoo;
}

body {
  margin: 2rem 3rem;
  font-family: "Apfel Grotezk";
  font-size: 18px;
  background-color: $bg-primary;
  color: $text;
  line-height: 1.5;
  letter-spacing: 0.025em;
  @media (max-width: $media-query) {
    margin: 1rem;
  }
}

main {
  max-width: 650px;
  margin: 4rem auto 6rem;
}

h1, h2, h3 {
  font-family: "Apfel Grotezk Fett";
  color: $text-emphasis;
}

#site-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  h1 {
    font-size: 1em;
  }
  nav {
    justify-self: end;
    align-self: center;
  }
}

#site-footer  {
  margin: 0 auto;
  display: grid;
  max-width: 850px;
  font-size: 16px;
  nav {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 2rem;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    white-space: nowrap;
  }
  a {
    color: $text-subtle;
    &:hover {
      color: $space;
      text-decoration: none;
    }
  }
  svg {
    justify-self: center;
  }
}

b, em {
  font-family: "Apfel Grotezk Fett";
}

a {
  color: $space;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

pre, code, kbd {
  font-family: "JetBrains Mono";
}

pre:has(code), code:not(pre *) {
  background-color: $bg-secondary;
  color: $text-emphasis;
  font-size: 0.75em;
  border-radius: 0.25rem;
  overflow: auto;
}

pre:has(code) {
  padding: 0.75rem;
  margin: 2rem -2rem;
  @media (max-width: $media-query) {
    margin: 2rem 0;
  }
}

code:not(pre *) {
  padding: 0.2rem 0.4rem;
}

figure {
  margin: 2rem -2rem;
  &:has(.inline) {
    margin: 0;
    float: right;
    width: 25%;
    @media (max-width: $media-query) {
      margin: 0 auto;
      float: none;
      width: 50%;
    }
  }
  @media (max-width: $media-query) {
    margin: 2rem 0;
  }
}

img {
  border-radius: .25rem;
}