@import "vars";
@import "fonts";

*:where(:not(ul, ol, details, summary, iframe, canvas, img, svg, video, input[type="checkbox"], input[type="radio"]):not(svg *)) {
  all: unset;
  display: revert;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {}

i.higby {
  color: $space;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  max-width: 650px;
  margin: 1.5rem auto;
  font-family: $primary-font;
  line-height: 1.65;
  font-size: 1em;
  background-color: $background-color;
  color: $text-color;
  overflow-y: scroll;
}

main, footer {
  animation: fadeIn 650ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: $gap 0;
  color: $header-color;
}
h1 { font-size: 1.75em; }
h2 { font-size: 1.5647em; }
h3 { font-size: 1.399em; }
h4 { font-size: 1.2509em; }
h5 { font-size: 1.1184em; }

body > header {
  display: flex;
  justify-content: space-between;
  a {
    color: $header-color;
    &:hover {
      color: $space;
      text-decoration: none;
    }
  }
  nav {
    align-self: center;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    *:not(:last-child):after {
      color: $light-grey;
      content: '//';
      margin: 0 6.5px;
    }
  }
}

header {
  p {
    color: $footer-color;
  }
}
nav {
  ul, ol {}
  li {}
  a {}
}

footer { 
  font-size: .8941em; 
  margin: 3rem 0 2rem 0;
  display: grid;
  justify-content: left;
  grid-auto-flow: column;
  gap: 2.5rem;
  div {
    display: grid;
    align-content: center;
  }
  a {
    color: $footer-color;
    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }
  svg.higby {
    width: 50%;
    justify-self: right;
  }
}

p, ol, ul, pre, blockquote, figure, hr, dl {
  display: block;
  margin: $gap 0;
}

ol, ul {
  margin: 0 0 0 1.65rem;
  padding: 0;
}

ol ol {
  list-style-type: lower-alpha;
}

blockquote {
 // color: $quoteText;
  display: block;
  font-style: italic;
  border: none;
  padding: 0 1.5rem;
  margin: 2rem 0;
  border-left: .25rem solid $dark-grey;
}

cite {
  margin: .5rem 0 0 0;
  font-style: italic;
  display: block;
  &:before {
    content: "— ";
    font-size: 0.95rem;
  }
}

hr {
  border-bottom: $border solid $light-grey;
  width: 65%;
  overflow: visible;
  margin: 3rem auto;
}

a {
  cursor: pointer;
  color: $space;
  transition: color .5s;
  &:hover {
    text-decoration: underline;
    text-underline-offset: .1em;
    text-decoration-thickness: .1em;  
  }
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

code, pre {
  color: $code-color;
  font-family: $mono-font;
  background-color: $dark-grey;
}

code:not(pre *) {
  border-radius: $border-radius;
  padding: 0.2rem 0.4rem;
  font-size: 0.85em;
}

pre {
  overflow: auto;
  padding: $gap 1.5rem;
  white-space: pre;
  border-radius: $border-radius;
  font-size: 0.85em;
}

kbd {
  border: 1px solid $medium-grey;
  border-radius: $border-radius;
  box-shadow: inset 0 -1px 0 $medium-grey;
  color: $code-color;
  font-family: $mono-font;
  font-size: .95em;
  padding: 0.125rem 0.25rem;
  vertical-align: middle;
}

mark {}

sub,
sup {
  font-size: 0.85rem;
}
sup {
  vertical-align: super;
}

dfn {}
abbr {}
abbr[title] {}

img {
  background-color: $dark-grey;
  display: block;
  width: 85%;
  height: auto;
  margin: 0 auto $gap auto;
}
figcaption {
  text-align: center;
}

table {
  border-collapse: collapse;
  caption-side: bottom;
  text-align: center;
  width: 85%;
  margin: $gap auto;
}
thead {
  border-bottom: $border solid $medium-grey;
}
tfoot {
  border-top: $border solid $medium-grey;
}
tr {
  &:nth-child(even) {
    background-color: $dark-grey;
  }
}
th {
  color: $header-color;
  font-weight: 700;
}
td {
  padding: 0.125rem;
  text-align: center;
}

summary {
  cursor: pointer;
}


input[type="radio"],
input[type="checkbox"] {
  accent-color: $space;
}

@media screen and (max-width: 700px) {
  body {
    margin-left: 2rem;
    margin-right: 2rem;
    & > header {
      display: block;
      text-align: center;
    }
  }
  img {
    width: 100%;
  }
  hr {
    width: 100%;
  }
  table {
    width: 100%;
  }
  footer {
    display: block;
    div:not(last-of-type) {
      margin-bottom: 1rem;
    }
    svg.higby {
      margin: 0 auto;
      display: block;
    }
  }
}

@media print {
}


/*
This file evolved from Natural Selection:
https://github.com/frontaid/natural-selection
*/