@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/open-sans.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/fonts/open-sans-semi.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-semi.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/open-sans-bold.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/open-sans-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local(""), url("/fonts/open-sans-semi-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-semi-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("/fonts/open-sans-bold-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-bold-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("/fonts/ibm-plex-mono-light.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/ibm-plex-mono-light.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/ibm-plex-mono.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/ibm-plex-mono.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/ibm-plex-mono-bold.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/ibm-plex-mono-bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/ibm-plex-mono-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/ibm-plex-mono-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("/fonts/ibm-plex-mono-bold-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/ibm-plex-mono-bold-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}