pre[class*="language-"],
code[class*="language-"] {
  color: $text-emphasis;
}
@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  background: $bg-secondary;
}
:not(pre) > code[class*="language-"] {
  color: #db4c69;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $text-subtle;
}
.token.punctuation {
  color: $text;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff8c66;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #f266ff;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #66a6ff;
}
.token.function {
  color: $space;
}
.token.regex,
.token.important,
.token.variable {
  color: #66ff8c;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #f7ebc6;
  box-shadow: inset 5px 0 0 #f7d87c;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
