@import "vars";

.token.comment,
.token.prolog,
.token.doctype,
.token.doctype-tag,
.token.cdata,
.token.punctuation {
  color: $light-grey;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.keyword {
  color: $space;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $text-color;
}

.token.atrule,
.token.attr-value {
  color: $space;
  font-weight: 600;
}

.token.function {
  color: #d40863;
}

.token.regex,
.token.important,
.token.variable,
.token.bold {
  font-weight: 600;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}