$nebula: #EF5350;
$space: #8a64ff;
//$space: $nebula;

$background-color: #141618;

$dark-grey: #202224;
$hover: #292b2e;
$medium-grey: #303234;
$light-grey: #46484a;

$text: #96a1af;
$text-subtle: #77818D;
$text-emphasis: #b4c1d2;

$tattoo: #565c64;

$site-width: 650px;

$mono-font: "Source Code Pro";

$media-query: 48em;