/*
--------------------------------
Form Styles
--------------------------------
*/
fieldset {
  grid-column: span 4;
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  padding: 0;
  padding: 0;
  border: none;
  legend, p {
    grid-column: span 2;
    grid-row: span 2;
  }
  legend {
    font-size: 1.4174rem;
  }
  div {
    grid-column: span 1;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
legend {
  float: left;
  width: 100%;
  font-weight: bold;
  font-size: 1.7858rem;
}
legend, p {
  grid-column: span 4;
}
form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: $space-100;
  border-radius: .25rem;
  .wide {
    grid-column: span 2;
  }
}
label {
  font-weight: bold;
}
input, textarea, legend, p, label {
  padding: 0;
  margin: 0;
  color: $header-text;
}
[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  border: none;
  border-radius: .25rem;
  color: $primary-text;
  font-family: $mono-font;
  font-size: .95rem;
  height: 2rem;
  display: block;
  line-height: 1;
  outline: none;
  padding: 0.5rem;
  &:focus {
    outline: 0.125rem solid $space;
  }
}
textarea {
  height: auto;
  resize: vertical;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  background-color: $space;
  border: none;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-weight: bold;

  font-size: 1.125rem;
  height: 2rem;
  margin: 0;
  display: block;
  transition: background-color .3s;
  &:hover {
    background-color: $space-600; // make a variable
  }
  &:active {
    background-color: $space-300; // replzce with a proper animation
  }
  &:disabled {
    background-color: $lightGrey;
    color: $darkGrey;
    cursor: default;
  }
}
