/*
--------------------------------
Form Styles
--------------------------------
*/
fieldset {
  grid-gap: 1rem;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  legend, fieldset, p {
    grid-column: span 1;
  }
  legend {
    font-size: 1.4174rem;
  }
}
legend {
  float: left;
  font-size: 1.7858rem;
  font-weight: bold;
  width: 100%;
}
legend, fieldset, p {
  grid-column: span 4;
}
form {
  grid-gap: 1rem;
  background-color: $space-100;
  border-radius: .25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem 0;
  padding: 1rem;
  div {
    label {
      display: inline;
    }
  }
  input, textarea, legend, p, label {
    color: $header-text;
    margin: 0;
    padding: 0;
    [readonly]:focus {
      outline: none;
    }
  }
}
label {
  display: grid;
  font-weight: bold;

  grid-column: span 2;
  grid-template-columns: 1fr;
  input, textarea {
    align-self: end;
    width: 100%;
  }
  p {
    font-weight: normal;
  }
}

[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  border: none;
  border-radius: .25rem;
  color: $primary-text;
  display: block;
  font-family: $mono-font;
  font-size: .95rem;
  height: 2rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem;
  &:focus {
    outline: 0.125rem solid $space;
  }
  &:disabled {
    background-color: $lightGrey;
    color: $darkGrey;
    cursor: default;
  }
}
textarea {
  min-height: 6rem;
  resize: vertical;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  background-color: $space;
  border: none;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  height: 2rem;
  margin: 0;
  min-width: 8rem;
  transition: background-color .3s;
  &:hover {
    background-color: $space-600; // make a variable
  }
  &:active {
    background-color: $space-300; // replzce with a proper animation
  }
  &:disabled {
    background-color: $lightGrey;
    color: $darkGrey;
    cursor: default;
  }
}
@media screen and (max-width: 700px) {
  form {
    border-radius: 0;
    margin: 1rem -2rem;
    padding: 2rem;
  }
  label {
    grid-column: span 4;
  }
  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    grid-column: span 2;
  }
}
