/*
--------------------------------
Form Styling
--------------------------------
*/
button, input {
  border: none;
  border-radius: .25rem;
  font-family: inherit;
  font-size: 100%;
  height: 2rem;
  line-height: 1.15;
  margin: 0;
  margin: .25rem;
}
fieldset {
  background-color: #f1dffd;
  border: none;
  border-radius: .25rem;
  margin: 0;
  padding: .75rem;
}
form {
  background-color: #fff;
  border-radius: .25rem;
  display: flex;
}
fieldset h2 {
  margin: 1rem 0;
}
input {
  flex-grow: 1;
}
button,
input[type="submit"],
input[type="reset"] {
  background-color: #965ee5;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  min-width: 8rem;
  transition: all .3s;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover  {
  background-color: #7444c4;
}
button:active,
input[type="submit"]:active,
input[type="reset"]:active  {
  background-color: #b585ef;
}
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled {
  background-color: #eee;
  color: #b6b6b6;
  cursor: default;
  font-weight: normal;
}
