/*
--------------------------------
Print Styles
(They're gross, don't look)
--------------------------------
*/
@media print {
  * {
    background: #fff !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
    &::before, &::after {
      background: #fff !important;
      box-shadow: none !important;
      color: #000 !important;
      font-family: "Open Sans", sans-serif;
      font-size: .85rem;
      text-shadow: none !important;
    }
  }
  body, footer, code, blockquote {
    font-size: 1rem;
  }
  h1, h2, h3, h4, h5, h6 {}
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5874rem;
  }
  h3 {
    font-size: 1.2599rem;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  h2, h3, p {
    orphans: 3;
    widows: 3;
  }
  header {
    text-align: left;
    a {
      color: #000 !important;
    }
    .higby {
      color: $space !important;
    }
    h1 a {
      font-size: 1.25rem;
    }
  }
  header a, nav a, footer a {
    text-decoration: none;
  }
  nav {
    ul, ol {
      ul, ol {
        border-left: 0.25rem solid #bdbdbd;
        display: block;
      }
    }
    a {
      color: #000 !important;
    }
    svg {
      display: none;
    }
  }
  footer {
    border-top: 0.125rem #bdbdbd solid;
    padding-top: .5rem;
    page-break-inside: avoid;
    code a {
      font-size: 1.125rem;
    }
  }
  p code {
    margin: 0;
    padding: 0;
  }
  pre {
    border: 2px solid #bdbdbd;
    border-radius: .25rem;
    page-break-inside: avoid;
    white-space: pre-wrap !important;
  }
  blockquote {
    border-left: 0.25rem solid #bdbdbd;
    page-break-inside: avoid;
  }
  a {
    color: $space !important;
    text-decoration: underline;
    &[href]::after {
      content: " (" attr(href) ")";
      text-decoration: none;
    }
    &[href^="#"]::after, &[href^="/"]::after, &[href^="/*"]::after, &[href^="javascript:"]::after {
      content: "";
      text-decoration: none;
    }
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  tr:not(:first-of-type) {
    border-top: 0.125rem #bdbdbd solid;
  }
}
