*, *::before, *::after {
  box-sizing: inherit;
}
::selection {
  background-color: $highlight;
  color: #fff;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: $background-color;
  color: $primary-text;
  font-family: $primary-font;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 1rem auto;
  max-width: 600px;
}
h1, h2, h3, h4, h5, h6, header {
  color: $header-text;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.7858rem;
}
h3 {
  font-size: 1.4174rem;
}
header {
  text-align: center;
  a {
    color: $header-text;
    &:hover {
      color: $space;
    }
    .higby {
      color: $space;
      font-style: normal;
    }
  }
  h1 a:hover {
    text-decoration: none;
  }
}
nav {
  ul, ol {
    border-left: .25rem $space solid;
    list-style: none;
    margin: 0;
    padding: 0 .5rem 0 .5rem;
    ul, ol {
      border-left: .25rem solid $mediumGrey;
      display: none;
      margin: 0 10px;
      padding-left: calc(.5rem + 2px);
    }
    li {
      margin: 0;
    }
    a {
      color: $header-text;
      &:hover {
        color: $space;
      }
    }
    svg {
      vertical-align: text-top;
    }
  }
  p {
    color: $header-text;
    margin: .5rem 0;
  }
  table {
    th, td {
      border: none;
      padding: .25rem 0;
      text-align: left;
      vertical-align: text-top;
    }
    td:first-of-type {
      text-align: right;
      white-space: nowrap;
    }
    tr:nth-child(even) {
      background-color: inherit;
    }
    time {
      color: $quote-text;
      &:after {
        content: "//";
        margin: 0 .45rem;
      }
    }
  }
}
footer {
  font-size: 1.25rem;
  a {
    color: $header-text;
    &:hover {
      color: $space;
    }
  }
  code {
    background-color: inherit;
    font-size: 1.375rem;
    padding: 0;
    a {
      color: $pgp-text;
    }
  }
}
header, footer, p, pre, blockquote, hr, dl {
  margin: 1rem 0;
}
ol, ul {
  margin: 0 0 0 1.25rem;
  padding: 0;
  li {
    margin: 1rem 0;
  }
}
pre {
  background-color: $lightGrey;
  border-radius: .25rem;
  color: $code-text;
  font-family: $mono-font;
  font-size: .95rem;
  line-height: 1.5;
  overflow: auto;
  padding: 1rem 1.5rem;
  code {
    border-radius: 0;
    padding: 0;
  }
}
blockquote {
  border-left: .25rem solid $darkGrey;
  color: $quote-text;
  font-size: 1.125rem;
  font-style: normal;
  padding: 0 0 0 1rem;
}
.note {
  border: none;
  color: $note-text;
  display:list-item;
  font-size: 1rem;
  font-style: italic;
  list-style-position: outside;
  list-style-type: ">";
  margin-left: .65rem;
}
figure {
  margin: 1rem auto;
  padding: 0;
  width: 100%;
  img {
    background-image: linear-gradient(65deg, $space 25%, $lightGrey 25%, $lightGrey 50%, $space 50%, $space 75%, $lightGrey 75%, $lightGrey 100%);
    background-size: 35.31px 75.72px;
  }
}
.small {
  width: 65%;
}
hr {
  border: 0;
  border-bottom: .125rem $darkGrey solid;
}
.footnotes {
  border-top: .125rem $darkGrey solid;
  color: $note-text;
  font-size: 1rem;
}
.footnote {
  &:before {
    content: "{";
  }
  &:after {
    content: "}";
  }
}
a {
  color: $space;
  text-decoration: none;
  transition: color .5s;
  &:hover {
    text-decoration: underline;
  }
}
cite {
  display: block;
  font-style: normal;
  margin: 1rem 0 0 0;
  &:before {
    content: "— ";
    font-size: 1rem;
  }
}
mark {
  background-color: $mark;
}
code {
  background-color: $lightGrey;
  border-radius: .25rem;
  color: $code-text;
  font-family: $mono-font;
  font-size: .95rem;
  padding: .2rem .4rem;
}
kbd {
  border: 1px solid $mediumGrey;
  border-radius: .25rem;
  box-shadow: inset 0 -1px 0 $mediumGrey;
  color: $code-text;
  font-family: $mono-font;
  font-size: .95rem;
  padding: .125rem .25rem;
  vertical-align: middle;
}
img, video, canvas {
  border-radius: .25rem;
  display: block;
  height: auto;
  width: 100%;
}
table {
  border-collapse: collapse;
  caption-side: bottom;
  text-align: center;
  width: 100%;
  thead {
    border-bottom: .125rem $darkGrey solid;
  }
  tfoot {
    border-top: .125rem $darkGrey solid;
    color: $header-text;
  }
  tr {
    &:nth-child(even) {
      background-color: $lightGrey;
    }
  }
  th {
    color: $header-text;
  }
  td {
    padding: .125rem;
    text-align: center;
  }
}

form {
  grid-gap: 1rem;
  background-color: $space-300;
  border-radius: .25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem 0;
  padding: 1rem;
  div {
    label {
      display: inline;
    }
  }
  input, textarea, legend, p, label {
    color: $header-text;
    margin: 0;
    padding: 0;
    [readonly]:focus {
      outline: none;
    }
  }
  fieldset {
    grid-gap: 1rem;
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    legend, fieldset, p {
      grid-column: span 1;
    }
    legend {
      font-size: 1.4174rem;
    }
  }
  legend {
    float: left;
    font-size: 1.7858rem;
    font-weight: bold;
    width: 100%;
  }
  legend, fieldset, p {
    grid-column: span 4;
  }
  [type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
    border: none;
    border-radius: .25rem;
    color: $primary-text;
    display: block;
    font-family: $mono-font;
    font-size: .95rem;
    height: 2rem;
    line-height: 1;
    outline: none;
    padding: 0.5rem;
    &:focus {
      outline: 0.125rem solid $space;
    }
    &:disabled {
      background-color: $lightGrey;
      color: $pgp-text;
      cursor: default;
    }
  }
  textarea {
    min-height: 6rem;
    resize: vertical;
  }
  label {
    display: grid;
    font-weight: bold;

    grid-column: span 2;
    grid-template-columns: 1fr;
    input, textarea {
      align-self: end;
      width: 100%;
    }
    p {
      font-weight: normal;
    }
  }
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  background-color: $space;
  border: none;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  height: 2rem;
  margin: 0;
  min-width: 8rem;
  transition: background-color .3s;
  &:hover {
    background-color: $space-600; // make a variable
  }
  &:active {
    background-color: $space-300; // replzce with a proper animation
  }
  &:disabled {
    background-color: $lightGrey;
    color: $pgp-text;
    cursor: default;
  }
}
details {
  summary {
    font-weight: bold;
  }
  p {
    border-left: .25rem solid $space;
    color: $quote-text;
    padding: 0 0 0 1rem;
  }
}
@media screen and (max-width: 700px) {
  body {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  form {
    border-radius: 0;
    margin: 1rem -2rem;
    padding: 2rem;
  }
  label {
    grid-column: span 4;
  }
  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    grid-column: span 2;
  }
}

@import "syntax";
@import "specific";
@import "print";
