/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Universal
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Apply styling to all elements (including their `::before` and `::after`
pseudo-elements). One common use of this selector is to apply a custom
`box-sizing`, e.g. as explained here: https://css-tricks.com/?page_id=175473 */
*:where(:not(iframe, canvas, img, svg, video, input[type="checkbox"], input[type="radio"]):not(svg *)){
    all: unset;
    display: revert;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Root
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

:root {}
.higby {
  color: $space;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  max-width: 650px;
  margin: 0 auto;
  font-family: $primary-font;
  background-color: $background-color;
  color: $primary-text;
  font-size: 1.125rem;
  padding: 0 25px;
  outline: 1px solid blue;
  line-height: 1.5;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Content sectioning
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

h1, h2, h3, h4, h5, h6 {
  color: $header-text;
  font-weight: bold;
  margin: 1rem 0;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.7858rem;
}
h3 {
  font-size: 1.4174rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: .85rem;
}
h6 {
  font-size: .70rem;
}

header {
  text-align: center;
  h1 a:hover {
    text-decoration: none;
  }
}

header, nav, footer {
  a {
    color: $header-text;
    &:hover {
      color: $space;
    }
  }
}
nav {
  table {
    a {
      color: $space;
    }
  }
}
nav ul, nav ol {}
nav li {}
nav a {}
nav a:visited {}
nav a:hover {}
nav a:active {}

main {}

article {}

section {}

aside {}

footer {
  font-size: 1.25rem;
  code {
    background-color: inherit;
    padding: 0;
    font-size: 1.25rem;

    a {
      color: $pgp-text;
    }
  }
}

address {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Text block content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Overall styling, e.g. vertical spacing */
p, ol, ul, pre, blockquote, figure, hr, dl, table {
  margin: 1rem auto;
  outline: 1px solid red;
}

p {}

ol, ul {
  margin-left: 1.5rem;
  ol ul {
    margin-left: 0;
  }
}
ol {}
ul {}
li {}
ol ol, ol ul, ul ul, ul ol {}
li li {}

pre {
    font-family: $mono-font;
    white-space: pre;
    background-color: $lightGrey;
    padding: 1rem 1.5rem;
    overflow: auto;
    border-radius: .25rem;
    color: $code-text;
    font-size: .95rem;
    code {
      border-radius: 0;
    }
}
pre code {}
pre samp {}

blockquote {
  border-left: .25rem solid $darkGrey;
  color: $quote-text;
  padding: 0 0 0 1.5rem;
}
.note {
  border: none;
  color: $note-text;
  display:list-item;
  font-size: 1rem;
  font-style: italic;
  list-style-position: outside;
  list-style-type: ">";
  margin-left: .65rem;
}
figure {
  img {
    background-image: linear-gradient(65deg, $space 25%, $lightGrey 25%, $lightGrey 50%, $space 50%, $space 75%, $lightGrey 75%, $lightGrey 100%);
    background-size: 35.31px 75.72px;
  }
}
figcaption {}

hr {
  text-align: center;
  border: 0;
  &:before { content: '-----' }
}

dl {}
dt {}
dd {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Inline text semantics
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

a {
  color: $space;
  cursor: pointer;
  text-decoration: none;
  transition: color .5s;
  &:hover {
    text-decoration: underline;
  }
}
a:active {}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

q {}
cite {
  display: block;
  margin: 1rem 0 0 0;

  &:before {
    content: "— ";
    font-size: 1rem;
  }
}

s {}

mark {
  background-color: $mark;

}

/* If you specify a font size, consider using the `em` unit so that it works
universally, e.g. for both `h1 small` and `p small` */
small {}
sub {}
sup {}

code {
  background-color: $lightGrey;
  color: $code-text;
  font-family: $mono-font;
  border-radius: .25rem;
  font-size: .95rem;
  padding: .2rem .4rem;
}

kbd {
  border: 1px solid $mediumGrey;
  box-shadow: inset 0 -1px 0 $mediumGrey;
  color: $code-text;
  font-family: $mono-font;
  font-size: .95rem;
  padding: .125rem .25rem;
  border-radius: .25rem;
  vertical-align: middle;
}
kbd kbd {}
samp {}

u {}

data {}
time {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Demarcating edits
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

del {}
ins {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Embedded content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

img, video, canvas {
  border-radius: .25rem;
  width: 100%;
  height: auto;
  display: block;
}
svg {}
video {}
canvas {}
audio {}
object {}

noscript {}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Table content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

table {
  border-collapse: collapse;
  caption-side: bottom;
  text-align: center;
  width: 100%;
  thead {
    border-bottom: .125rem $darkGrey solid;
  }
  tfoot {
    border-top: .125rem $darkGrey solid;
    color: $header-text;
  }
  tr {
    &:nth-child(even) {
      background-color: $lightGrey;
    }
  }
  th {
    color: $header-text;
    font-weight: bold;
  }
  td {
    padding: .125rem;
    text-align: center;
  }
}
caption {}
col:first-child {}
thead {}
tbody {}
tfoot {}
tr {}
th {}
td {}
