---
---
@import "primary";

$velvet: #9d0a0e;
$gold: #c9ad6a;
$tea: #e0e5c1;
$tealeaf: #43443a;

$primary-text: #302e29;
$header-text: #302e29;
$dnd-background-color: #eee5ce;

/*
--------------------------------
DnD CSS
Colors and Background Image Source:
https://github.com/naturalcrit/homebrewery/
--------------------------------
*/

@font-face {
  src: url("../fonts/Bookinsanity/Bookinsanity.otf") format("opentype");
  font-family: "Bookinsanity";
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Bookinsanity/Bookinsanity Bold.otf") format("opentype");
  font-family: "Bookinsanity Bold";
  font-style: normal;
  font-weight: bold;
}

@font-face {
  src: url("../fonts/Mr Eaves/Mr Eaves Small Caps.otf") format("opentype");
  font-family: "Mr Eaves Small Caps";
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Scaly Sans Caps/Scaly Sans Caps.otf") format("opentype");
  font-family: "Scala Sans Caps";
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Scaly Sans/Scaly Sans.otf") format("opentype");
  font-family: "Scala Sans";
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Solbera Imitation/Solbera Imitation.otf")
    format("opentype");
  font-family: "Solbera Imitation";
  font-weight: normal;
}
body {
  background: #eee5ce url(/assets/images/dnd.jpg);
  font-family: "Bookinsanity";
}
body, h1, h2, h3, h4, h5, h6 {
  color: $primary-text;
}
a {
  color: $velvet;
}

a:hover {
  color: $velvet;
}
header a {
  color: $header-text;
  &:hover {
    color: $header-text;

  }
}
.animated:hover {
  color: $space;
}
h1,
h2,
h3 {
  color: $velvet;
  font-family: "Mr Eaves Small Caps";
}

h3 {
  border-bottom: 2px solid $gold;
}

h3 a:hover {
  text-decoration: none;
}

h3 a:hover {
  color: $space;
}

p:first-of-type img {
  margin-left: 0;
}

p strong:first-of-type {
  margin-left: -50px;
}

strong {
  font-family: "Bookinsanity Bold";
}

blockquote {
  background-color: $tea;
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAANlBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHL6OuAAAAEXRSTlMABAwYJDRIXHSLo7fL2+fz+6go4VUAAAB6SURBVHgB7dg5DsJQAANRZ9+Xuf9lQUKKEHT5LlL4HWB6W5d61m1zrT/dhm5j6/RjPCkJco761ixQFoSl0aXfKQ+y9/qoJnAEYar01q64gqytNBz4ghyDMPMHnyYiIiIiIgIzYeYfj/Z56x3g7ovAf2L4bxb/EWS/ql7LZCDx/Ry3RwAAAABJRU5ErkJggg==)
    11;
  border-image-outset: 9px 0;
  border-style: solid;
  border-width: 11px;
  color: $tealeaf;
  display: block;
  margin: 1rem 0;
}

table {
  font-family: "Scala Sans";
  td {
  }
  th {
    border-bottom: 0;
    font-family: "Scala Sans Caps";
  }
  tr:nth-child(even) {
    background-color: $tea;
  }

}

nav ul {
  border-left: 4px $velvet solid;
}

nav ul + p {
  padding-top: 19.2px;
}

nav ul a:hover {
  color: $velvet;
}

nav ul li ul {
  border-left: 4px solid $gold;
}

article > p:first-of-type:first-letter {
  float: left;
  font-family: "Solbera Imitation";
  font-size: 10em;
  line-height: 0.8em;
  overflow: visible;
}

b {
  font-family: "Bookinsanity Bold";
}

footer {
  code {
    a {
      color: $gold;
      font-family: "Bookinsanity";
    }
  }
}
