/*
--------------------------------
NoScript CSS
--------------------------------
*/
header .higby {
  color: #965ee5;
}
nav ul li ul,.subposts {
  display: block;
}
nav svg {
   transform: rotate(90deg);
}
