$space: #965ee5;
$space-code: #A16FE7;
$highlight: #965ee540;

$background-color: #111010;
$lightGrey: #212121;
$mediumGrey: #616161;
$darkGrey: #424242;

$comment-text: #656565;
$pgp-text: #9E9E9E;
$note-text: #acacac;
$quote-text: #b8b8b8;
$code-text: #bdbdbd;
$primary-text: #cfcfcf;
$header-text: #e8e8e8;

$primary-font: 'IBM Plex Mono', monospace;
$mono-font: 'IBM Plex Mono', monospace;
