@import "imports/variables";


/*
--------------------------------
DnD CSS
Colors and Background Image Source:
https://github.com/naturalcrit/homebrewery/
--------------------------------
*/

$velvet: #9d0a0e;
$gold: #c9ad6a;
$tea: #e0e5c1;
$tealeaf: #47483D;

$background-color: #eee5ce;
$lightGrey: $tea;
$mediumGrey: $gold;
$darkGrey: $gold;

$primary-text: #302e29;
$header-text: $velvet;
$code-text:  #5f5f5f;
$quote-text:  #727272;

$primary-font: "Bookinsanity";
$mono-font: "Bookinsanity";
@import "imports/primary";
@import "imports/dnd-fonts";


body {
  background: $background-color url(/img/dnd.jpg);
  font-family: $primary-font;
  &> header nav a {
    color: $primary-text;  
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Mr Eaves";
}
h3 {
  border-bottom: 2px solid $gold;
}

header time {
  color: $primary-text;
  font-weight: 400;
  font-family: $primary-font;
}
main header nav {
  ul, ol {
   border-left: .25rem $gold solid;
   a {
     color: $primary-text;
     &:hover {
       color: $space;
     }
   }
   svg {
     fill: $velvet;
     vertical-align: text-top;
   }
 }
}
article > p:first-of-type:first-letter {
  float: left;
  font-family: "Solbera Imitation";
  font-size: 10em;
  line-height: 0.8em;
  overflow: visible;
}
blockquote {
  font-family: "Zatanna Misdirection";
  background-color: $tea;
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAANlBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHL6OuAAAAEXRSTlMABAwYJDRIXHSLo7fL2+fz+6go4VUAAAB6SURBVHgB7dg5DsJQAANRZ9+Xuf9lQUKKEHT5LlL4HWB6W5d61m1zrT/dhm5j6/RjPCkJco761ixQFoSl0aXfKQ+y9/qoJnAEYar01q64gqytNBz4ghyDMPMHnyYiIiIiIgIzYeYfj/Z56x3g7ovAf2L4bxb/EWS/ql7LZCDx/Ry3RwAAAABJRU5ErkJggg==)
    11;
  border-image-outset: 9px 0;
  border-style: solid;
  border-width: 11px;
  color: $tealeaf;
}
a {
  color: $velvet;
}
table {
  font-family: "Scaly Sans";
  thead {
    border-bottom: 0;
    text-transform: uppercase;
  }
  th {
    color: $primary-text;
  }
  tr {
    color: $primary-text;
  }
}
footer {
  font-family: "Scaly Sans";
  code a {
    font-family: "Scaly Sans";
    color: $gold;
  }
}