---
---
@import "primary";
@import "parchment";

/*!
--------------------------------
DnD CSS
--------------------------------
*/

@font-face {
  font-family: "Bookinsanity";
  src: url("../fonts/Bookinsanity/Bookinsanity.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Bookinsanity Bold";
  src: url("../fonts/Bookinsanity/Bookinsanity Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mr Eaves Small Caps";
  src: url("../fonts/Mr Eaves/Mr Eaves Small Caps.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Scala Sans Caps";
  src: url("../fonts/Scaly Sans Caps/Scaly Sans Caps.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Scala Sans";
  src: url("../fonts/Scaly Sans/Scaly Sans.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Solbera Imitation";
  src: url("../fonts/Solbera Imitation/Solbera Imitation.otf")
    format("opentype");
  font-weight: normal;
}

a {
  color: $velvet;
}

a:hover {
  color: $velvet;
}

h1,
h2,
h3 {
  color: $velvet;
  font-family: "Mr Eaves Small Caps";
}

h3 {
  border-bottom: 2px solid $gold;
}

header a:hover,
h3 a:hover {
  text-decoration: none;
}

header a:hover,
h3 a:hover {
  color: $space;
}

p:first-of-type {
  text-indent: 0;
}

p strong:first-of-type {
  margin-left: -50px;
}

strong {
  font-family: "Bookinsanity Bold";
}

blockquote {
  background-color: $tea;
  color: $tealeaf;
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAANlBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHL6OuAAAAEXRSTlMABAwYJDRIXHSLo7fL2+fz+6go4VUAAAB6SURBVHgB7dg5DsJQAANRZ9+Xuf9lQUKKEHT5LlL4HWB6W5d61m1zrT/dhm5j6/RjPCkJco761ixQFoSl0aXfKQ+y9/qoJnAEYar01q64gqytNBz4ghyDMPMHnyYiIiIiIgIzYeYfj/Z56x3g7ovAf2L4bxb/EWS/ql7LZCDx/Ry3RwAAAABJRU5ErkJggg==)
    11;
  border-image-outset: 9px 0;
  border-style: solid;
  border-width: 11px;
}

table {
  font-family: "Scala Sans";
}

td ~ td,
th ~ th {
  border-left: 0;
}

th {
  border-bottom: 0;
  font-family: "Scala Sans Caps";
}

tr:nth-child(even) {
  background-color: $tea;
}

nav ul {
  border-left: 4px $velvet solid;
}

nav ul + p {
  padding-top: 19.2px;
}

nav ul a:hover {
  color: $velvet;
}

nav ul li ul {
  border-left: 4px solid $gold;
}

article > p:first-of-type:first-letter {
  float: left;
  font-family: "Solbera Imitation";
  font-size: 10em;
  line-height: 0.8em;
  overflow: visible;
}

b {
  font-family: "Bookinsanity Bold";
}

footer address a {
  font-family: "Bookinsanity";
  color: $gold;
}

.card {
  padding-top: 15px;
  width: 180px;
  margin: 0 30px 5px 0;
  text-align: center;

}

.card img {
border-radius: 4.75% / 3.5%;
}
@media screen and (max-width: 700px) {
  .card {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 700px) {
  .card:nth-child(2n) {
    margin: 0 0 5px 0;
  }
}

@media only screen and (min-width: 700px) {
  .card:nth-child(3n) {
    margin: 0 0 5px 0;
  }
}

.cardList {
  display: flex;
  flex-flow: row wrap;
}

.imgHolder {
  background-color: $lightGrey;
  padding: 10px;
  border-radius: 4px;
}

.up {
  transform: translateY(-5px);
}

.ball {
  height: 32px;
  width: 32px;
  top: 5px;
  left: 5px;
  display: block;
  margin-bottom: -32px;
  z-index: 1;
  position: relative;
}
/*!
--------------------------------
The terrifying beast of a background
Source: https://github.com/naturalcrit/homebrewery/
--------------------------------
*/
body {
  background-color: #eee5ce;
  font-family: "Bookinsanity";
  background-image: $parchment;
}
