---
---

@import "normalize";

$space: #965ee5;
html {
	scroll-behavior: smooth;
}
body {
	margin: 0 auto;
	max-width: 600px;
	background-color: #F8F8F8;
	line-height: 1.5;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	color: RGBA(0,0,0,.7);
}
a {
	text-decoration: none;
	color: $space;
	transition: color .5s;
	&:hover {
		text-decoration: underline;
	}
}
header {
	text-align: center;
	line-height: 90px;
	a {
		color: RGBA(0,0,0,.8);
		&:hover {
			color: $space;
			text-decoration: none;
		}
	}
	i {
		font-style: normal;
		color: $space;
	}
}
footer {
	a {
		color: RGBA(0,0,0,.8);
		&:hover {
			color: $space;
			text-decoration: none;
		}
	}
	.pgp {
		a {
			color: RGBA(0,0,0,.265);
			&:hover {
				color: $space;
				text-decoration: none;
			}
		}
}
	font-size: 20px;
	margin: 20px 0;
}

.posts {
	a {
		color: RGBA(0,0,0,.8);
		&:hover {
			color: $space;
			text-decoration: none;
		}
	}
	border-left: 4px $space solid;
	padding-left: 20px;
	list-style-type: none;
	margin-left: 0;
	&:nth-of-type(even) {
		border-left: none;
		text-align: right;
		border-right: 4px $space solid;
		padding-right: 20px;
	}
}
.animating {
	&:hover {
		color: RGBA(0,0,0,.8);
	}
}
h1 {
	color: RGBA(0,0,0,.8);
	text-align: center;
}
h2 {
	color: RGBA(0,0,0,.8);
}
h3 {
	color: RGBA(0,0,0,.8);
}
.head {
	text-align: center;
	ul {
		margin-left: 0;
	}
	p {
		text-indent: 0;
	}
}
p {
	text-indent: 50px;
	img {
		margin-left: -50px;
	}
}
img {
	width: 100%;
}
table {
	border-collapse: collapse;
	width: 100%;
}
td {
	padding: 5px;
	text-align: center;
}
td~td {
	border-left: 4px #BDBDBD solid;
}
th~th {
	border-left: 4px #BDBDBD solid;
}
th {
	border-bottom: 4px #BDBDBD solid;
	padding: 5px;
}
tr {
	&:nth-child(even) {
		background-color: #E0E0E0;
	}
}
.postTitle {
	&:nth-of-type(even) {
		text-align: right;
	}
}
blockquote {
	border-left: 4px solid #dfe2e5;
	color: RGBA(0,0,0,.5);
	margin: 18px 0;
	padding: 0 0 0 1em;
	p {
		text-indent: 0;
	}
}
code {
	font-family: 'Source Code Pro', monospace;
}
.highlighter-rouge {
	background-color: #EEE;
	padding: .2em .4em;
	font-size: 85%;
	border-radius: 4px;
	vertical-align: middle;
}
pre {
	padding: 14px;
}
time {
	color: RGBA(0,0,0,.6);
	font-size: 16px;
}
ul {
	padding-inline-start: 1em;
	transition: all .5s cubic-bezier(0,1,0,1);
	margin-left: 50px;
	ul {
		margin-left: 0;
	}
	p {
		text-indent: 0;
	}
}
li {
	margin-bottom: 15px;
	&:last-of-type {
		margin-bottom: 0;
	}
	span {
		color: RGBA(0,0,0,.6);
	}
}
.toc {
	border-left: 4px $space solid;
	text-align: left;
	a {
		color: RGBA(0,0,0,.6);
		&:hover {
			color: $space;
			text-decoration: none;
		}
	}
	li {
		margin-bottom: 5px;
		list-style-type: none;
		ul {
			border-left: 2px solid #dfe2e5;
			padding-left: 1em;
		}
	}
	ul {
		overflow: hidden;
		list-style-type: none;
		margin-left: 0;
	}
}
@media screen and (max-width: 700px) {
	body {
		margin-left: 2em;
		margin-right: 2em;
	}
}

@import "poke";
