---
permalink: "_redirects"
eleventyExcludeFromCollections: true,
layout: null
---
/.env    https://www.youtube.com/watch?v=qOFOT5TNGo4
{% for url in netlify.domain_aliases %}https://{{ url }}/*    {{ site.url }}/:splat 301!
{% endfor %}{% for page in collections.redirects %}{% for alias in page.data.redirects %}/{{ alias }}/    {{ page.url }} 301!
{%endfor %}{% endfor %}
