---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - headerPages
    - footerPages
    - redirects
    - garden
permalink: /tags/{{ tag }}/
---

<h1>#{{ tag }}</h1>

<ol class='deck masonry'>
  {% set taglist = collections[ tag ] %}
  {% for plant in taglist | reverse %}
    <li class='card'>
      <a href='{% if plant.data.href %}{{ plant.data.href }}{% else %}{{ plant.url }}{% endif %}'>{{ plant.data.title }}</a>
      <time>{{ plant.date | formal }}</time>
      {% set tags = plant.data.tags %}
      {% include 'molecules/tag-list.njk' %}
    </li>
  {% endfor %}
</ol>