<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>{% if title %}{{ title }}{% else %}Branden Higby{% endif %}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="{{ eleventy.generator }}">

    <style>{{ site.scss | safe }}{{ scss | safe }}</style>

    <link href="https://github.com/{{ site.github }}" rel="me">
    <link href="mailto:{{ site.email }}" rel="me">

  </head>
  <body>
    {{ content | safe}}
  </body>
</html>