<!doctype html>
<html lang="en" dir="ltr">
  <head>{% include 'head.njk' %}</head>
  <body>
    <header>
      <h1><a href="/">Branden <i>Higby</i></a></h1>
      <nav>
        <a href="/garden">Garden</a>
        <a href="/humans.txt">humans.txt</a>
      </nav>
    </header>
    <main>
      {{ content | safe }}
      <footer>
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">twitter</a></br>
        <a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">github</a></br>
        <code><a href="https://github.com/{{ site.github }}/pgp" target="_blank" rel="noopener noreferrer">9668 ECE1 5152 8A07</a></code>
      </footer>
    </main>
  </body>
</html>
{% include 'higby.njk' %}