<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>{% if title %}{{ title }}{% else %}Branden Higby{% endif %}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="{{ eleventy.generator }}">
    {% if page.url == "/404.html" %}<meta name="robots" content="noindex">{% endif %}

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel='icon' href="data:image/svg+xml,{% set svg %}{% include 'atoms/favicon.svg' %}{% endset %}{{ svg | encodeuri }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#8a64ff">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#8a64ff">

    <link rel="preload" href="/fonts/ApfelGrotezk.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/ApfelGrotezk-Fett.woff2" as="font" type="font/woff2" crossorigin>

    <style>{{ site.scss | safe }}{{ scss | safe }}</style>

    <link href="mailto:{{ site.email }}" rel="me">
    <link href="https://indieweb.social/@higby" rel="me">
    <link href="https://github.com/{{ site.github }}" rel="me">

    <link rel="webmention" href="https://webmention.io/higby.io/webmention">
    <link rel="pingback" href="https://webmention.io/higby.io/xmlrpc">

    <link rel="alternate" type="application/rss+xml" title="Higby's Garden" href="https://higby.io/feed.xml">

  </head>
  <body>
    {{ content | safe}}
  </body>
</html>