<!doctype html>
<html lang="en" dir="ltr">
  <head>{% include 'includes/head.njk' %}</head>
  <body>
    <header>
      <h1><a href="/">branden <i>higby</i></a></h1>
      <nav>
        <a href="/garden">garden</a>
        <a href="/writing">writing</a>
        <a href="/projects">projects</a>
      </nav>
    </header>

    <main>
      {{ content | safe }}  
    </main>
    
    <footer>
        <div>
          <a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer">branden(@)higby.io</a><br>
          <code><a href="https://keys.openpgp.org/vks/v1/by-fingerprint/4DDBFBB400B9883F2C3E69839A5299D28BBAA510" target="_blank" rel="noopener noreferrer">9A52 99D2 8BBA A510</a></code>
        </div>
        <div>
          <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">twitter</a><br>
          <a href="https://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer">instagram</a><br>
          <a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">github</a>
        </div>
         <div>
          {#<a href="/dash">dashboard</a><br>#}
          <code><a href="/humans.txt">humans.txt</a></code><br>
          <code><a href="/styleguide">styleguide</a></code>
        </div>
      </footer>
  </body>
</html>
{% include 'includes/higby.njk' %}