<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head> {% include 'head.html' %}</head>
  <body>
    <header>{% include 'header.html' %}</header>
    <main>
      {% if title %}
        <header>
          <h1>{{ title }}</h1>
          {% if date and setup.date != false %}<time>{{ page.date | common }}</time>{% endif %}
          {% if setup.toc != false %}{{ content | toc }}{% endif %}
          {% qrcode headUrl %}
        </header>
      {% endif %}
      <article>
        {{ content }}
      </article>
      <footer>
        {% include 'footer.html' %}
      </footer>
    </main>
  </body>
</html>
{% include 'higby.html' %}

