---
layout: "base.njk"
---
{% include 'organisms/site-header.njk' %}
<main>
  {% include 'organisms/garden-header.njk' %}
  <article id="page-content">{{ content | safe}}</article>
</main>
{% include 'organisms/site-footer.njk' %}
