---
layout: html
permalink: /
styles: home
---

<main tabindex="-1">
  <header>
    <h1 class="site-title"><a href="/">branden <i>higby</i></a></h1>
    <p>writer, programmer, cartoon watcher</p>
    {% include 'nav' %}
  </header>
  <footer>{% include 'sigil.svg' %}</footer>
</main>
