---
pagination:
  data: "collections.all"
  size: 1
  alias: "post"
permalink: "/og{{ post.url }}"
layout: base
stylesheet: opengraph.scss
---

<main>
  <div>
    {% if post.data.title %}<h1>{{ post.data.title }}</h1>{% endif %}
    {% if post.data.stylesheet == "index.scss" %}<h1>higby.io</h1>{% endif %}

    {% if post.data.layout == 'garden' %}

    {% timeAgo page.date, tended %}

    {% endif %}
  </div>

  <p>{% if post.data.layout == 'garden' %}From the garden of {% endif %}<b>Branden <i class='higby'>Higby</i></b></p>

  {% include 'higby.svg' %}
</main>