---
permalink: '/_redirects'
layout: null
eleventyExcludeFromCollections: true
---
{% for URL in site.urlAlias %}https://{{ URL }}/*    https://{{ site.url }}/:splat 301!
{% endfor %}
/ocd    /garden/ocd
/paleontology   /garden/paleontology