---
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - all
        - tagList
        - writing
        - projects
        - garden
permalink: /garden/{{ tag }}/
layout: tags
eleventyComputed:
  title: '#{{ tag }}'
---

<nav>
<ul>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li>
    <time datetime='{{ post.date | datetime }}'>{{ post.date | common }}</time>
    <span><a href="{{ post.url }}">{{ post.data.title }}</a></span>
    <p>{{ post.data.description }}</p>
  </li>
{% endfor %}
</ul>
</nav>