@import 'vars';

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0 -2rem;
  padding: 0;
  gap: 1rem;
  text-align: center;
  @media (max-width: $media-query) {
    margin: 0;
    display: block;
    li:not(:last-of-type) {
      margin-bottom: 1rem;
    }  
  }
}

.sprites {
  background-color: $bg-secondary;
  display: grid;
  border-radius: 0.25rem;
  picture {
    width: 85%;
    height: auto;
    margin: 1rem 0;
    justify-self: center;
    &:not(:last-of-type) {
      display: block;
      justify-self: start;
      left: 0.25rem;
      margin: 0 0 -2rem 0;
      position: relative;
      top: 0.25rem;
      width: 32px;
      z-index: 1;
      background: none;
    }
  }
}