<ol role='list' class='lattice'>
  {% for plant in lattice reversed %}
  <li>
    <a href='{% if plant.data.href %}{{ plant.data.href }}{% else %}{{ plant.url }}{% endif %}'>
      <strong>{{ plant.data.title }}</strong>
      <time>{{ plant.date | date_formal }}</time>
    </a>
  </li>
  {% endfor %}
</ol>

{% stylesheet %}
.lattice {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  a {
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--foreground);
    border-radius: .25rem;
    padding: 1rem;
    transition: background-color .35s;
    &:hover {
      text-decoration: none;
      background-color: var(--hover);
    }
  }
  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }
}
{% endstylesheet %}
