{% if tags %}
  <ul class='tags' role='list'>
  {% for tag in tags %}{% unless tag == 'garden' %}
    <li><a href='/tags/{{ tag }}'>#{{ tag }}</a></li>
  {% endunless %}{% endfor %}
  </ul>
{% endif %}

{% stylesheet %}
.tags {
  display: flex;
  gap: 1rem;
}
{% endstylesheet %}