$space: #7f5af0;
$spaceLight: #9A7CF3;
$spaceDark: #6F44EE;
$spaceCode: #7f5af0;
$highlight: #7f5af0;

$backgroundColor: #16161a;

$lightGrey: #212121;
$mediumGrey: #424242;
$darkGrey: #616161;

$commentText: #656565;
$pgpText: #8F8F8F;
$noteText: #9E9E9E;
$quoteText: #acacac;
$codeText: #b8b8b8;
$primaryText: #bdbdbd;
$headerText: #e8e8e8;

$primaryFont: 'Open Sans', sans-serif;
$monoFont: 'IBM Plex Mono', monospace;