---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {% if title %}
        <header>
          <h1>{{ title }}</h1>
          {% if date and setup.date != false %}
          <time> {{ page.date | common }}</time>
          {% endif %}
        </header>
      {% endif %}
      {% unless setup.toc == false %}
        {{ content | toc }}
      {% endunless %}
      {{ content }}
      {% include footer.html %}
    </main>
  </body>
  {% include higby.html %}
</html>
