---
layout: html
permalink: /
styles: home
---

<main tabindex="-1">
  <a href="https://css-naked-day.github.io/">April 9 is CSS Naked Day!</a>
  <header>
    <h1 class="site-title"><a href="/">branden <i>higby</i></a></h1>
    <p>writer, programmer, cartoon watcher</p>
    {% include 'nav' %}
  </header>
  <footer>{% include 'sigil.svg' %}</footer>
</main>
