<!doctype html>
<html lang="en" dir="ltr">
  <a class="vh" href="#main-content">Skip to Content</a>
  <div class="vh qr" style="width: 1in">{% qr %}</div>
  {% include 'head' %}
  <body>{{ content }}</body>
</html>