<!doctype html>
<html lang="en" dir="ltr">
  {% include 'head' %}
  <body>
    <a class="vh" href="#main-content">Skip to Content</a>
    <div class="vh qr" style="width: 1in">{% qr %}</div>
    {{ content }}
  </body>
</html>