<div>
  <a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer">branden(@)higby.io</a>

  <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">twitter</a>

  <a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">github</a>
</div>

<div>
<a href="/humans.txt">humans.txt</a>

<a href="/styleguide">styleguide</a>

<span class="pagesize"></span>
</div>

{% include 'footer.svg' %} 
