<h1>{% if permalink != '/index.html' %}<a href="/">{% endif %}branden <i class="higby">higby</i>{% if permalink != '/index.html' %}</a>{% endif %}</h1>
<nav>
  {% if permalink != '/garden/' %}<a href="/garden">{% else %}<i class="higby">{% endif %}garden{% if permalink != '/garden/' %}</a>{% else %}</i>{% endif %}
  {% if permalink != '/projects/' %}<a href="/projects">{% else %}<i class="higby">{% endif %}projects{% if permalink != '/projects/' %}</a>{% else %}</i>{% endif %}
  {% if permalink != '/about/' %}<a href="/about">{% else %}<i class="higby">{% endif %}about{% if permalink != '/about/' %}</a>{% else %}</i>{% endif %}
</nav>


