<h1>{% if permalink != '/index.html' %}<a href="/">{% endif %}branden <i class="higby">higby</i>{% if permalink != '/index.html' %}</a>{% endif %}</h1>
<nav>
  {% if permalink != '/garden/' %}<a href="/garden">{% else %}<i class="higby">{% endif %}garden{% if permalink != '/garden/' %}</a>{% else %}</i>{% endif %}
  {% if permalink != '/resume/' %}<a href="/resume">{% else %}<i class="higby">{% endif %}resume{% if permalink != '/resume/' %}</a>{% else %}</i>{% endif %}
  {% if permalink != '/dashboard/' %}<a href="/dashboard">{% else %}<i class="higby">{% endif %}dashboard{% if permalink != '/dashboard/' %}</a>{% else %}</i>{% endif %}
</nav>


