<meta charset="utf-8">

<title>{% if title %}{{ title }}{% else %}{{ site.name }}{% endif %}</title>
<link rel="preload" href="/fonts/open-sans.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/open-sans-bold.woff2" as="font" type="font/woff2" crossorigin>


{% if eleventyExcludeFromCollections and permalink != '/index.html' %}<meta name="robots" content="noindex">{% endif %}

<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='generator' content='eleventy'>
<meta name="theme-color" content="#141619">

<link rel="canonical" href="https://{{ site.url }}{{ page.url }}">
<link rel="author" href="/humans.txt"/>
<link rel='icon' href="/favicon.ico">

<style>{% renderFile "./src/styles/classless.scss" %}{% renderFile "./src/styles/fonts.scss" %}{% renderFile "./src/styles/syntax.scss" %}{% if style %}{% renderFile 'src/styles/modules/' + style + '.scss' %}{% endif %}</style>

