---
title: "Movies"
displayInHeader: true
---
{% set cls = cycler("poster-left", "poster-right") %}
{% for movie in movies %}
  {% if movie.rewatch == false %}
    <article class="movie">
      {% if cls.next() == 'poster-right' %}
        <div>
          <h2>{{ movie.title }} ({{ movie.year }})</h2>
          {% if movie.rating %}<p>{{ movie.rating }}</p>{% endif %}
          {% if movie.review %}<p>{{ movie.review }}</p>{% endif %}
        </div>
        <img src="{{ movie.imageSrc }}" alt="Movie Poster for {{ movie.title }} ({{ movie.year }})">
      {% else %}
        <img src="{{ movie.imageSrc }}" alt="Movie Poster for {{ movie.title }} ({{ movie.year }})">
        <div>
          <h2>{{ movie.title }} ({{ movie.year }})</h2>
          {% if movie.rating %}<p>{{ movie.rating }}</p>{% endif %}
          {% if movie.review %}<p>{{ movie.review }}</p>{% endif %}
        </div>
      {% endif %}
    </article>
  {% endif %}
{% endfor %}