@import 'vars';

.movie {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 0.125rem solid $light-grey;
  &:nth-child(odd) {
    grid-template-columns: 1fr 2fr;
  }
  div {
    text-align: center;
    align-self: center;
  }
}