*:where(:not(iframe, canvas, img, svg, video, input[type="checkbox"], input[type="radio"]):not(svg *)) {
  all: unset;
  display: revert;
}
*, *::before, *::after {
  box-sizing: inherit;
}
::selection {
  background-color: $highlight;
  color: #000;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.higby {
  color: $space;
  font-style: normal;
}
body {
  background-color: $background-color;
  color: $primary-text;
  font-family: $primary-font;
  font-size: 1.125rem;
  line-height: 1.65;
  margin: 1rem auto;
  max-width: 600px;
  &> header nav {
    display: grid;
    font-weight: 600;
    grid-auto-flow: column;
    justify-content: space-around;
  }
}
h1, h2, h3, h4, h5, h6, header {
  color: $header-text;
  font-weight: bold;
  margin: 1rem 0;
  code {
    font-size: .9em;
  }
}
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: .85rem; }
h6 { font-size: .70rem; }
header {
  text-align: center;
  h1 a:hover {
    text-decoration: none;
  }
}
header, nav, footer {
  a {
    color: $header-text;
    &:hover {
      color: $space;
    }
  }
}
main header nav {
  font-weight: normal;
  text-align: left;
  ul, ol {
   border-left: .25rem $space solid;
   list-style: none;
   margin: 0;
   padding: 0 .5rem 0 .5rem;
   li {
     ul, ol {
       border-left: .25rem solid $mediumGrey;
       display: none;
       margin: 0 10px;
       padding-left: calc(.5rem + 2px);
     }
   }
   li {
     margin: 0;
   }
   a {
     color: $header-text;
     &:hover {
       color: $space;
     }
   }
   svg {
     fill: $header-text;
     vertical-align: text-top;
   }
 }
 p {
   color: $header-text;
   margin: .5rem 0;
 }
}
article {
  nav {
    color: $header-text;
    list-style: none;
    ul {
     margin: 0;
     li {
       grid-gap: .5rem;
       border-left: .25rem $space solid;
       display: grid;
       font-size: 1rem;
       grid-template-columns: auto auto;
       margin: 1rem 0;
       padding: 0 0 0 1rem;
       a {
         font-size: 1.25rem;
         font-weight: 600;
       }
       time {
         color: $quote-text;
         text-align: right;
       }
       p {
         color: $code-text;
         grid-column: span 2;
         margin: 0;
       }
     }
    }
  }
}
footer {
  font-size: 1.25rem;
  code {
    background-color: inherit;
    font-size: 1.25rem;
    padding: 0;
  }
}
p, ol, ul, pre, blockquote, figure, figcaption, hr, dl, table, form {
  margin: 1rem auto;
}
ol {
  list-style-type: decimal;
}
ol, ul {
  margin-left: 1.5rem;
  li {
    ol, ul {
      margin: 0 0 0 1.5rem;
    }
  }
}
pre {
  background-color: $lightGrey;
  border-radius: .25rem;
  color: $code-text;
  font-family: $mono-font;
  font-size: 1rem;
  overflow: auto;
  padding: 1rem 1.5rem;
  white-space: pre;
  code {
    border-radius: 0;
  }
}
blockquote {
  border-left: .25rem solid $darkGrey;
  color: $quote-text;
  padding: 0 0 0 1rem;
}
.note {
  border: none;
  color: $note-text;
  display:list-item;
  font-size: 1rem;
  list-style-position: outside;
  list-style-type: ">";
  margin-left: .65rem;
  p {
    font-style: italic;
  }
}
cite {
  display: block;
  margin: 1rem 0 0 0;
  &:before {
    content: "— ";
    font-size: 1rem;
  }
}
figure {
  img {
    background-image: linear-gradient(65deg, $space 25%, $lightGrey 25%, $lightGrey 50%, $space 50%, $space 75%, $lightGrey 75%, $lightGrey 100%);
    background-size: 35.31px 75.72px;
  }
}
figcaption {
  font-style: italic;
  text-align: center;
}
hr {
  border: 0;
  text-align: center;
  &:before {
    color: #323232;
    content: "///////";
    font-size: 1.125rem;
  }
}
dt {
  font-weight: bold;
  margin-top: 1rem;
}
dd {
  display: list-item;
  font-style: italic;
  list-style-type: '- ';
  margin-left: 1.25rem;
}
a {
  color: $space;
  cursor: pointer;
  text-decoration: none;
  transition: color .5s;
  &:hover {
    text-decoration: underline;
  }
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
mark {
  background-color: $mark;
  margin: 0 -.1rem;
  padding: 0 .1rem;
}
sup {
  font-size: .95rem;
  vertical-align: super;
}
code {
  background-color: $lightGrey;
  border-radius: .25rem;
  color: $code-text;
  font-family: $mono-font;
  font-size: 0.889em;
  padding: .2rem .4rem;
}
kbd {
  border: 1px solid $mediumGrey;
  border-radius: .25rem;
  box-shadow: inset 0 -1px 0 $mediumGrey;
  color: $code-text;
  font-family: $mono-font;
  font-size: 1rem;
  padding: .125rem .25rem;
  vertical-align: middle;
}
img, video, canvas {
  border-radius: .25rem;
  display: block;
  height: auto;
  width: 100%;
}
table {
  border-collapse: collapse;
  caption-side: bottom;
  text-align: center;
  width: 100%;
  thead {
    border-bottom: .125rem $darkGrey solid;
  }
  tfoot {
    border-top: .125rem $darkGrey solid;
    color: $header-text;
  }
  tr {
    &:nth-child(even) {
      background-color: $lightGrey;
    }
  }
  th {
    color: $header-text;
    font-weight: bold;
  }
  td {
    padding: .125rem;
    text-align: center;
  }
}
form {
  grid-gap: 1rem;
  background-color: $space-100;
  border-radius: .25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  legend {
    color: $header-text;
    font-size: 1.7858rem;
    font-weight: bold;
    grid-column: span 4;
    margin: 1rem 0;
    &+ p {
      margin-top: 0;
    }
  }
  &> legend {
    margin: 0;
  }
  p {
    color: $header-text;
    grid-column: span 4;
  }
  fieldset {
    grid-column: span 4;
    legend {
      font-size: 1.4174rem;
    }
  }
  label {
    color: $header-text;
    display: grid;
    font-weight: bold;
    grid-column: span 2;
    grid-template-columns: 1fr;
    input, textarea {
      align-self: end;
      margin: 1rem 0 0 0;
    }
    p {
      font-weight: normal;
      grid-column: span 1;
      margin: 0;
    }
  }
  div label {
    display: inline;
  }
  textarea {
    min-height: 6rem;
    resize: vertical;
  }
}
[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  background-color: $background-color;
  border-radius: .25rem;
  color: $primary-text;
  font-family: $mono-font;
  font-size: 1rem;
  font-weight: normal;
  height: 2rem;
  padding: 0.5rem;
  &:focus {
    box-shadow: 0px 0px 0px 2px $space inset;
  }
}
button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  background-color: $space;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  height: 2rem;
  min-width: 8rem;
  text-align: center;
  transition: background-color .3s;
  &:hover {
    background-color: $space-600; // make a variable
  }
  &:active {
    background-color: $space-300; // replzce with a proper animation
  }
}
input[readonly] {
  color: $header-text;
}
input:disabled {
  background-color: $lightGrey;
  color: $pgp-text;
  cursor: default;
  &::placeholder {
    color: $pgp-text;
  }
  &:hover {
    background-color: $lightGrey;
  }
}
.who, .what {
  background-color: $space-100;
  border-radius: .25rem;
  color: $header-text;
  font-size: 1.25rem;
}
.who {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2.5rem;
  margin-right: 1rem;
  padding: .5rem;
  p {
    margin: auto 1rem;
  }
  figure {
    margin-bottom: -1.5rem;
    margin-right: -1.5rem;
    width: 95%;
  }
}
.what {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  text-align: center;
  h1, h2, h3, h4, h5, h6, header, ol {
    grid-column: span 2;
  }
  p {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}
.footnotes {
  color: $note-text;
  font-size: 1rem;
  &:before {
    color: $primary-text;
    content: '/// Footnotes ///';
    display: block;
    font-size: 1.125rem;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  body {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  body > header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    nav {
      display: block;
      margin: auto 0 auto 1rem;
      text-align: left;
      a {
        display: block;
        margin: .65rem 0;
      }
    }
  }
  article {
    nav ul li {
      div {
        grid-column: span 2;
      }
      time {
        text-align: left;
      }
    }
  }
  form {
    border-radius: 0;
    margin: 1rem -2rem;
    padding: 2rem;
    label {
      grid-column: span 4;
    }
  }
  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    grid-column: span 2;
  }
  .who, .what {
    border-radius: 0;
    margin: 1rem -2rem;
    padding: 2rem;
  }
  .who {
    display: block;
    padding: 1rem;
    figure {
      margin: 1rem auto;
      width: 45%;
    }
  }
}
@media screen and (max-width: 600px) {
  .what {
    h1, h2, h3, h4, h5, h6, header, ol {
      display: grid;
      grid-template-rows: 1fr 1fr;
    }
    p {
      grid-column: span 2;
    }
  }
}
@import "syntax";
@import "specific";
@import "print";
