// Space Gradient

$space-100: #ECDDFD;
$space-200: #D8BCFC;
$space-300: #BF99F8;
$space-400: #A87DF1;
$space-500: #8654E8;
$space-600: #673DC7;
$space-700: #4B2AA7;
$space-800: #341A86;
$space-900: #23106F;

// Reusable Colors

$space: $space-500;
$highlight: #8654E840;
$mark: #ffe599;

// Light Mode

$background-color: #fafafa;
$lightGrey: #eeeeee;
$mediumGrey: #dedede;
$darkGrey: #bdbdbd;

$pgp-text: #afafaf;
$comment-text: #6B6B6B;
$disabled-text: #575757;
$note-text: #4b4b4b;
$quote-text: #474747;
$code-text: #323232;
$primary-text: #292929;
$header-text: #191919;

// Dark Mode
/*
$space-100: #7444C4;

$mark: #006545;

$background-color: #111010;
$lightGrey: #212121;
$mediumGrey: #616161;
$darkGrey: #424242;

$pgp-text: #585858;
$note-text: #acacac;
$quote-text: #b8b8b8;
$code-text: #bdbdbd;
$primary-text: #cfcfcf;
$header-text: #e8e8e8;
*/

// Fonts

$primary-font: "Open Sans", sans-serif;
$mono-font: 'Source Code Pro', monospace;
