@import "vars";

main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-template-rows: masonry;
  align-tracks: stretch;
  a {
    display: block;
    height: 100%;
    background-color: $dark-grey;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    //color: $text-emphasis;
    &:hover {
      //color: $space;
      text-decoration: none;
      background-color: $hover;
    }
  }
  span {
    font-weight: 500;
  }
  time {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: $text;
    display: block;
  }
  @media (max-width: $media-query) {
    grid-template-columns: 1fr;
  }
}
