---
permalink: "/garden/"
displayInHeader: true
ignoreCollections: true
---

<ul>
  {% for plant in collections.garden | reverse %}
    <li>
      <a href='{{ plant.url }}'>
        <span>{{ plant.data.title }}</span>
        <br>
        <time>{{ plant.date | formal }}</time>
      </a>
    </li>
  {% endfor %}
</ul>