@font-face {
  font-family: 'Bookinsanity';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/bookinsanity.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Bookinsanity';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/bookinsanity-bold.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Bookinsanity';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/bookinsanity-italic.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Bookinsanity';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/bookinsanity-bold-italic.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Scaly Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/scaly-sans.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Scaly Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/scaly-sans-bold.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Scaly Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/scaly-sans-italic.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Scaly Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/scaly-sans-bold-italic.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}




@font-face {
  font-family: 'Zatanna Misdirection';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/zatanna-misdirection.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Zatanna Misdirection';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/zatanna-misdirection-bold.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Zatanna Misdirection';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/zatanna-misdirection-italic.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Zatanna Misdirection';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/zatanna-misdirection-bold-italic.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}





@font-face {
  font-family: 'Mr Eaves';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/mr-eaves.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Solbera Imitation';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/solbera-imitation.otf') format('opentype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}