*:where(:not(ul, ol, iframe, canvas, img, svg, video, input[type="checkbox"], input[type="radio"]):not(svg *)) {
  all: unset;
  display: revert;
}
*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
 // scroll-behavior: smooth;
}
.higby {
  font-style: normal;
}
body {
  font-size: 1.125rem;  background-color: $background-color;
  font-family: $primary-font;
    color: $primary-text;
  line-height: 1.65;
  margin: 1rem auto;
  max-width: 650px;
  &> header {
    text-align: center;
    a {
      color: $header-text;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
h1, h2, h3, h4, h5, h6, header {
  color: $header-text;
  font-weight: bold;
  margin: 1rem 0;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: .85rem; }
h6 { font-size: .70rem; }

header nav {
  font-weight: normal;
  margin: 1rem 0;
  li ol {
    display: none;
  }
  svg {
    fill: $header-text;
    vertical-align: text-top;
  }
}
article nav {
  table {
    width: 100%;
  }
  th, td {
    border: none;
    padding: .25rem 0;
    text-align: left;
    vertical-align: text-top;
  }
  td:first-of-type {
    text-align: right;
    white-space: nowrap;
  }
  tr:nth-child(even) {
    background-color: inherit;
  }
  time {
    color: $quote-text;
    &:after {
      content: "//";
      color: $pgp-text;

      margin: 0 .45rem;
    }
  }
}

footer {
  display: grid;
  grid-auto-flow: rows;
  color: $header-text;
  font-size: 1.25rem;
  code {
    background-color: inherit;
    padding: 0;
    border-radius: 0;
    font-size: 1.25rem;
    a {
     color: $pgp-text;
    }
  }
}

p, ol, ul, pre, blockquote, figure, figcaption, hr, dl, table, form, img {
  margin: 1rem auto;
}

ol, ul {
  padding: 0;
  margin: 0 0 0 1.65rem;
  li {
    ol, ul {
      margin: 0 0 0 1.65rem;
    }
  }
}

pre {
  background-color: $lightGrey;
  border-radius: .25rem;
  color: $code-text;
  font-family: $mono-font;
  overflow: auto;
  padding: 1rem 1.5rem;
  white-space: pre;
  code {
    font-size: 1rem;
    border-radius: 0;
    padding: 0;
  }
}
blockquote {
  border-left: .25rem solid $darkGrey;
  color: $quote-text;
  padding: 0 0 0 1rem;
}
cite {
  display: block;
  margin: 1rem 0 0 0;
  &:before {
    content: "— ";
    font-size: 1rem;
  }
}
figure {
  img {
    background-color: $lightGrey;
  }
}
figcaption {
  text-align: center;
}
hr {
  border: 0;
  text-align: center;
  border-bottom: 1px solid black;
  width: 65%;
  margin: 2rem auto;
}
dt {
  font-weight: bold;
  margin-top: 1rem;
}
dd {
  display: list-item;
  font-style: italic;
  list-style-type: '- ';
  margin-left: 1.25rem;
}
a {
  color: #0000EE;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: #EE0000;
  }
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
cite {
  display: block;
  margin: 1rem 0 0 0;
  &:before {
    content: "— ";
    font-size: 1rem;
  }
}
mark {
  background-color: $mark;
}
sup {
  font-size: .95rem;
  vertical-align: top;
}
code {
  background-color: $lightGrey;
  color: $code-text;
  font-size: .95rem;
  font-family: $mono-font;
  border-radius: .25rem;
  padding: .2rem .4rem;
  a {
    color: $space-code;
  }
}
kbd {
  border: 1px solid $mediumGrey;
  border-radius: .25rem;
  box-shadow: inset 0 -1px 0 $mediumGrey;
  color: $code-text;
  font-family: $mono-font;
  font-size: 1rem;
  padding: .125rem .25rem;
  vertical-align: middle;
}
img {
  display: block;
  box-shadow: -8px 8px 0 0 black;
  border: 1px solid black;  
  height: auto;
  width: 85%;
}
table {
  border-collapse: collapse;
  caption-side: bottom;
  text-align: center;
  width: 100%;
  thead {
    border-bottom: .125rem $darkGrey solid;
  }
  tfoot {
    border-top: .125rem $darkGrey solid;
    color: $header-text;
  }
  tr {
    &:nth-child(even) {
      background-color: $lightGrey;
    }
  }
  th {
    color: $header-text;
    font-weight: bold;
  }
  td {
    padding: .125rem;
    text-align: center;
  }
}
section {
  color: $note-text;
  font-size: 1rem;
  &:before {
    color: $primary-text;
    content: 'Footnotes';
    display: block;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
    width: 65%;
    margin: 2rem auto;
  }
}
form {
  grid-gap: 1rem;
  border: .25rem solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  legend {
    color: $header-text;
    font-size: 1.7858rem;
    font-weight: bold;
    grid-column: span 4;
    margin: 1rem 0;
    &+ p {
      margin-top: 0;
    }
  }
  &> legend {
    margin: 0;
  }
  p {
    color: $header-text;
    grid-column: span 4;
  }
  fieldset {
    grid-column: span 4;
    legend {
      font-size: 1.4174rem;
    }
  }
  label {
    color: $header-text;
    display: grid;
    font-weight: bold;
    grid-column: span 2;
    grid-template-columns: 1fr;
    input, textarea {
      align-self: end;
      margin: 1rem 0 0 0;
    }
    p {
      font-weight: normal;
      grid-column: span 1;
      margin: 0;
    }
  }
  div label {
    display: inline;
  }
  textarea {
    min-height: 6rem;
    resize: vertical;
  }
}
[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  background-color: $background-color;
  border-radius: .25rem;
  color: $primary-text;
  font-family: $mono-font;
  font-size: 1rem;
  font-weight: normal;
  height: 2rem;
  padding: 0.5rem;
  &:focus {
    box-shadow: 0px 0px 0px 2px $space inset;
  }
}
button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  font-weight: bold;
  height: 2rem;
  min-width: 8rem;
  text-align: center;
  transition: all .3s;
  &:hover {
    box-shadow: -4px 4px 0 0 black;
  }
  &:active {
    background-color: black; // make a variable
    color: white;
  }
}
input[readonly] {
  color: $header-text;
}
input:disabled {
  color: $disabled-text;
  border: 1px solid $disabled-text;
  cursor: default;
  &::placeholder {
    color: $disabled-text;
  }
  &:hover {
      box-shadow: none;
  }
}

@import "syntax";
@import "specific";
@import "print";