
/*
--------------------------------
Specific Styles
--------------------------------
*/

header .higby {
  color: $header-text; //Only during animation
}
.animating:hover {
  color: $header-text;
}
.who, .what {
  box-shadow: -8px 8px 0 0 black;
  border: 1px solid black;  
  color: $header-text;
  font-size: 1.25rem;
}

.who {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2.5rem;
  padding: .5rem;
  margin-right: 1.5rem;
  p {
    margin: auto 1rem;
  }
  figure {
    margin-top: 0;
    margin-bottom: -2.5rem;
    margin-right: -1.5rem;
    width: 95%;
    img {
      width: 100%;
    }
  }
}
.what {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  text-align: center;
  h1, h2, h3, h4, h5, h6, header, ol {
    grid-column: span 2;
  }
  code {
    font-size: .899em;
  }
  p {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}
.note {
  border: none;
  color: $note-text;
  display:list-item;
  font-size: 1rem;
  list-style-position: outside;
  list-style-type: ">";
  margin-left: .65rem;
  p {
    font-style: italic;
  }
}
.card {
  img {
    border-radius: 4.75% / 3.5%;
    width: 100%;
  }
  margin: 0;
}
.cardList,.boxList {
  grid-gap: 1.5rem;
  background-color: inherit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  text-align: center;
  img {
    box-shadow: none;
    border: none;
  }
}
@media screen and (max-width: 700px) {
  .cardList,.boxList {
    grid-template-columns: repeat(2, 1fr);
  }
}
.imgHolder {
  padding: .5rem;
  box-shadow: -8px 8px 0 0 black;
  border: 1px solid black;  
  margin-bottom: 1rem;
}
.ball {
  display: block;
  left: .25rem;
  margin: 0 0 -2rem 0;
  position: relative;
  top: .25rem;
  width: 32px !important;
  z-index: 1;
}
