@import 'vars';

.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: .5rem 1rem;
  time {
    white-space: nowrap;
    grid-row: span 3;
    color: var(--text-subtle);
  }
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--text-hidden);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  @media (max-width: $site-width) {
    display: flex;
    flex-direction: column;
    time {
      order: 2;
    }
    .tags {
      order: 3;
    }
  }
}