<header id="site-header">
    <a class="vh" href="#main-content">Skip to Content</a>
    <div class="vh qr">{% qr %}</div>
  </div>

  <h1 class="site-title"><a href="/">branden <i>higby</i></a></h1>

  {% include 'nav' %}
</header>