<header id="site-header">
  <a class="vh" href="#main-content">Skip to Content</a>
  <a href="https://css-naked-day.github.io/">April 9 is CSS Naked Day!</a>
  <div class="vh qr" style="width: 1in">{% qr %}</div>
  
  <h1 class="site-title"><a href="/">branden <i>higby</i></a></h1>

  {% include 'nav' %}
</header>