<nav class="site-nav" aria-label="Site navigation">
  <ul role="list">
    <li>
      <a href="/garden/">garden</a>
    </li>
    <li>
      <a href="/about/">about</a>
    </li>
    <li>
      <a href="/feed.xml">rss</a>
    </li>
  </ul>
</nav>