@import "vars";

main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  a {
    display: block;
    background-color: $dark-grey;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    &:hover {
      text-decoration: none;
      background-color: $hover;
    }
  }
  span {
    &:last-of-type {
      margin-top: 0.25rem;
      color: $text;
      font-size: 0.875em;
    }
  }
  @media (max-width: $media-query) {
    grid-template-columns: 1fr;
  }
}
