{% if title %}
  <header id="page-header">
    <h1>{{ title }}</h1>
    {% if layout == "garden.njk" %}
      <time>{{ plant.date | formal }}</time>
      {% include 'molecules/tag-list.njk' %}
      {% if callout %}
        <div class="callout {{ callout.type }}">
          <span>{{ callout.content }}</span>
        </div>
      {% endif %}
      <hr>
    {% endif %}
  </header>
{% endif %}