<header id="site-header">
  <h1><a href='/'>branden higby</a></h1>
  <nav>
    <a href="/garden/"{% if page.url == '/garden/' %}class='active'{% endif %}>garden</a>
    <span>//</span>
    <a href="/library/"{% if page.url == '/library/' %}class='active'{% endif %}>library</a>
    <span>//</span>
    <a href="/about/" {% if page.url == '/about/' %}class='active'{% endif %}>about</a>
  </nav>
</header>