<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.style == "default" %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if page.hidden %}
      <meta name="robots" content="noindex">
    {% endif %}
    <link type="text/plain" rel="author" href="/humans.txt"/>
    <link rel="icon" type="image/ico" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    {% unless page.setup.override %}
      <link rel="stylesheet" href="/assets/css/main.css">
    {% endunless %}
    {% if page.setup.style %}
      {% include {{ page.setup.style }}.html %}
    {% endif %}
    <title>{{ page.title }}</title>
  </head>

  <body>
    <header>
      <h1><a href="/">{{ site.firstName }} <i>{{ site.lastName }}</i>{% if site.dev %} <code class="language-plaintext highlighter-rouge">Dev Mode</code>{% endif %}</a></h1>
    </header>
  {{content}}
    <footer>
      <a href="https://instagram.com/{{ site.instagram_username }}">instagram</a><br/>
      <a href="https://twitter.com/{{ site.twitter_username }}">twitter</a><br/>
      <a href="https://github.com/{{ site.github_username }}">github</a>
    </footer>
  </body>

<!--

                                                                                               @C5%@mg
                                                                                            @#M##    `7@p
                                                                                            ^#          @M
                                                                                              1##M      @b
                                                                                                `      ,#
                                                                                                      #C sm,
                                                                                                   ,##e#W###
                                                                                            ,,emM5"|`
                                                                                    ,sm#M57@#
                                                                           ,,s#MM"7^,     #C
                                                                   ,,e##M57|`            #\
         ,                                                 ,,e#W%T^,                   ]#
        @##                                        ,sm#W"7^~                    ,##m, @b
          "#,,,,,,                        ,;am#M77||                           @#######m
                  |5MJ            ,,am##77|`                                  ############b
                     '%w  ,,e#M#7^~    ^"@w                                  ############"
                s#M,e#Mb7"`    @~          |%MJ         ,                   ^7@#########~
                %MM`            #             ""Wm,     @###Mm,           ,,e#M5"5@####
                                jb                '7%m,  #########Mmm#W5"`~         ^7
                                ]#m                   '7@##########~
                                #` "@,                    #######|
                               {b    |@p                  j####"
                               #   m   @C                  @#O
                              "Ww  `  #b                    `
                                 |%Mg#^
                                    jQ
                                     @p
                                      #
                                      ]Q
                                     ]#~"%mp
                                    #b ,m  `@b
                                   5W,  `  #\
                                     ,7%mJ#
                                         1p
                                          #
                                          jQ
                                         #M7""7@p
                                       ,#       ^#
                                       ]b        #
                                        @Q      #b
                                         |7WM#W^

                                                                                                                -->
</html>
