$space: #ef476f;

$spaceLight: scale-color($space, $lightness: -20%);
$spaceDark: scale-color($space, $lightness: 5%);

$spaceCode: #ef476f;
$highlight: #ef476f;

$backgroundColor: #16161a;
$lightGrey: scale-color($backgroundColor, $lightness: 10%);
$mediumGrey: scale-color($backgroundColor, $lightness: 20%);
$darkGrey: scale-color($backgroundColor, $lightness: 30%);

$primaryText: #bdbdbd;
$commentText: scale-color($primaryText, $lightness: -45%);
$pgpText: scale-color($primaryText, $lightness: -25%);
$noteText: scale-color($primaryText, $lightness: -20%);
$quoteText: scale-color($primaryText, $lightness: -10%);
$codeText: scale-color($primaryText, $lightness: -5%);
$headerText: scale-color($primaryText, $lightness: 97%);

$primaryFont: "Open Sans", sans-serif;
$monoFont: "IBM Plex Mono", monospace;
