$space: #965ee5;
$spaceLight: #B585EF;
$spaceDark: #7444C4;
$spaceCode: #A16FE7;
$highlight: #965ee540;

$backgroundColor: #111111;

$lightGrey: #212121;
$mediumGrey: #424242;
$darkGrey: #616161;

$commentText: #656565;
$pgpText: #9E9E9E;
$noteText: #acacac;
$quoteText: #b8b8b8;
$codeText: #bdbdbd;
$primaryText: #cfcfcf;
$headerText: #e8e8e8;

$primaryFont: 'Open Sans', sans-serif;
$monoFont: 'IBM Plex Mono', monospace;