$primary-font: 'Open Sans', sans-serif;
$mono-font: 'IBM Plex Mono', monospace;

$space: var(--space);
$spaceCode: var(--spaceCode);
$backgroundColor: var(--grey0);
$lightGrey: var(--grey1);
$mediumGrey: var(--grey2);
$darkGrey: var(--grey3);
$lightText: var(--grey4);
$mediumText: var(--grey5);
$darkText: var(--grey6);
$primaryText: var(--grey7);
$headerText: var(--grey8);