$nebula: #EF5350;
$space: #8a64ff;
//$space: $nebula;

$bg-primary: #141618;

$bg-secondary: #202224;
$bg-tertiary: #303234;


$bg-hover: #292b2e;
$medium-grey: #303234;
$light-grey: #46484a;

$text: #96a1af;
$text-subtle: #77818D;
$text-emphasis: #b4c1d2;

$tattoo: #565c64;

$site-width: 650px;

$wide-margins: 2rem;

$mono-font: "Source Code Pro";

$media-query: 48em;