// ------------ Base ------------

*, *::before, *::after {}
html {}

// ------------ Sectioning ------------

body {
  max-width: $body-width;
  margin: 0 auto;
  background-color: var(--bg-primary); 
  color: var(--text-primary);
  font-family: var(--font-family);
  letter-spacing: 0.025em;
  line-height: 1.5;
  @media (max-width: $site-width) {
    max-width: none;
    margin: 0 $mobile-margins;
  }
}

h1, h2, h3, h4 { 
  color: var(--text-emphasis);
  font-family: var(--font-family-bold);
  font-weight: 600
}
h1 { 
  font-size: 2em; 
  margin: 2rem 0;
}
h2 { 
  font-size: 1.6818em; 
  margin: 1.5rem 0;
}
h3 { 
  font-size: 1.4142em; 
  margin: 1rem 0;
}
h4 { 
  font-size: 1.1892em;
  margin: .5rem 0;

}

header {}

footer {}

nav {
  ul, ol {}
  li{}
  a {}
}


main {
  max-width: $content-width;
  margin: 0 auto;
  
  @media (max-width: $body-width) {
    max-width: none;
    margin: 0; 
  }
}

article {}

section {}

aside {}

address {}

hr {
  margin: 4rem 0;
  height: 0.125rem;
  background-color: var(--space);
  border: 0;
}

// ------------ Block Elements ------------

p, ol, ul, pre, blockquote, figure, dl {
  margin: 1rem 0;
}

p {}

ol, ul {
  ol, ul {}
}
ol {}
ul {}
li {
  li {}
}

pre {
  @include full-margins;
  @include collapsing-border-radius;
  background-color: var(--bg-secondary);
  font-family: var(--font-family-mono);
  font-size: $font-size-medium;
  padding: .75rem $content-margins;
  overflow: auto;
}
pre code {}
pre samp {}

blockquote {}

img {
  @include full-margins;

  &.inline {
    margin: 0.5rem;
    float: right;
    width: 25%;
    @media (max-width: $site-width) {
      margin: 0 auto;
      float: none;
      width: 50%;
    }
  }
}
figcaption, caption {
  @include outline;
  text-align: center;
  max-width: calc($content-width - ($content-margins * 2));
  margin: 1rem auto;
}

dl {}
dt {}
dd {}

// ------------ Inline Elements ------------

a {
  color: var(--space);
  cursor: pointer;
  text-decoration: none;
  transition: color .5s;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
  }
}

strong {}
b {}

em {}
i {}

q {}
cite {}

s {}

mark {
  background-color: var(--mark);
  margin: 0 -3px;
  padding: 0 3px;
}

small {}
sub {}
sup {}

code, var, kbd {
  font-family: var(--font-family-mono);
}

code:not(pre *) {
  padding: 0.2rem 0.4rem;
  background-color: var(--bg-secondary);
  border-radius: $border-radius;
  font-size: $font-size-medium;
}

dfn {}
abbr {
  text-decoration: underline var(--space) dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
abbr:not([title]) {
  text-decoration: none;
}

var {}
kbd {}
kbd kbd {}
samp {}

u {}

data {}
time {
  &:not(p *) { display: block }
}

del {}
ins {}

// ------------ Embedded Elements ------------

img {
  @include collapsing-border-radius;
  background-color: var(--bg-secondary);
  text-align: center;
}
svg {}
video {}
canvas {}
audio {}
object {}

// ------------ Table Elements ------------

table {
  @include full-margins;
  border-collapse: collapse;
  text-align: center;
  caption-side: bottom;
}
col:first-child {}
thead {
  border-bottom: .25rem solid var(--bg-secondary);
}
tbody {}
tfoot {}
tr {
  &:nth-child(even) {
    background-color: var(--bg-secondary);
  }
}
th, td {
  padding: 0.5em;
}
th {
  font-weight: 700;  
}
td[colspan] { 
  text-align: center 
}

// ------------ Form Elements ------------

fieldset {}
legend {}

form {}

meter {}

select {}

input {}

textarea {}

select {}
optgroup {}
option {}
option:checked {}
datalist {}