.note {
  background-color: rgba(255, 102, 140, .25);
  margin: 1rem 0;
  padding: .5rem .75rem;
  border-radius: .25rem .25rem 0 .25rem;
  outline: 2px solid rgb(255, 102, 140);
  color: $text-emphasis;
}

.deck {
  margin-left: (-$wide-margins);
  margin-right: (-$wide-margins);
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  @media (max-width: $media-query) {
    margin: 2rem 0;
    grid-template-columns: 1fr !important;
  }
}

.masonry {
  grid-template-rows: masonry;
  align-tracks: stretch;
  masonry-auto-flow: next;
}

.card {
  background-color: $bg-secondary;
  border-radius: .25rem;
  padding: 0.75rem 1rem;
  transition: background-color 0.5s;
  display: grid;
  grid-template-rows: min-content;
  gap: .5rem;
  >*:first-child {
    font-weight: 600;
  }
  *:not(:first-child) {
    font-size: 0.875em;
  }
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
}