@font-face {
  font-family: "Apfel Grotezk";
  src: url("/fonts/ApfelGrotezk.woff2") format("woff2"),
       url("/fonts/ApfelGrotezk.woff") format("woff");
}

@font-face {
  font-family: "Apfel Grotezk Fett";
  src: url("/fonts/ApfelGrotezk-Fett.woff2") format("woff2"),
       url("/fonts/ApfelGrotezk-Fett.woff") format("woff");
}

@font-face{
  font-family: 'JetBrains Mono';
  src: url("/fonts/JetBrainsMono.woff2") format("woff2"),
       url("/fonts/JetBrainsMono.woff") format("woff");}