@mixin full-margins {
  margin-left: -#{$full-margins};
  margin-right: -#{$full-margins};
  width: 100vw;
  max-width: calc($body-width + calc($full-margins * 2));
  border-radius: 0.25rem;
  @media (max-width: $mobile-breakpoint) {
    border-radius: 0;
  }
}
