$body-width: 650px;
$mobile-margins: 2rem;
$mobile-breakpoint: calc($body-width + ($mobile-margins * 2));
$full-margins: 2rem;

:root {
  --font-family: "IBM Plex Sans", sans-serif;
	--font-family-mono: "IBM Plex Mono", monospace;

  color-scheme: dark;

  --space: #8a64ff;

  --text-emphasis: #b4c1d2;
  --text-primary: #96a1af;
  --text-subtle: #67707b;

  --background: #15181d;
  --foreground: #202224;
  --hover: #292b2e;

  --tattoo: var(--text-subtle);
}

@media (prefers-color-scheme: light) {

  :root {
    color-scheme: light;

    --space: #794DFF;

    --text-emphasis: #404040;
    --text-primary: #606060;
    --text-subtle: #988f84;
  
    --background: #eae7e2;
    --foreground: #DFDDDB;
    --hover: #d6d4d1;
  }
}