---
title: "Garden"
displayInHeader: true
---

<ul class='lattice'>
  {% for plant in collections.garden | reverse %}
    <li>
      <a href='{% if plant.data.href %}{{ plant.data.href }}{% else %}{{ plant.url }}{% endif %}'>
        <span>{{ plant.data.title }}</span>
        <time>{{ plant.date | formal }}</time>
      </a>
    </li>
  {% endfor %}
</ul>