

<head>
  <title>{% if title %}{{ title }}{% else %}{{ site.name }}{% endif %}</title>

  <link rel="preload" href="/fonts/Inter.var.woff2" as="font" type="font/woff2" crossorigin>
  <style>{% renderFile "./src/_styles/main.scss" %}</style>

  {% if eleventyExcludeFromCollections %}<meta name="robots" content="noindex">{% endif %}

  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name='generator' content='eleventy'>
  <meta name="theme-color" content="#141619">

  <link rel="canonical" href="https://{{ site.url }}{{ page.url }}">
  <link rel="author" href="/humans.txt"/>
  <link rel='icon' href="/favicon.ico">

</head>