/*
--------------------------------
NoScript CSS
--------------------------------
*/

@import "imports/variables";

header .higby {
  color: $space;
}
header a:hover {
  color: $space;
}
main header nav ol li ol {
  display: block;
}
nav svg {
   transform: rotate(90deg);
}
